<ul class="bd cf">
{loop $tags $k $t}
<li>
<dl>
<dt><a href="{$t[linkurl]}" target="_blank"><img src="{if $t[thumb]}{$t[thumb]}{else}{DT_SKIN}image/nopic150.gif{/if}" alt="{$t[company]}" title="{$t[alt]}"/></a></dt>
<dd>
<h3><a href="javascript:;" target="_blank">{$t[catname]}</a></h3>
<p><a href="{userurl($t[username])}" target="_blank">{if $t[company]}{$t[company]}{else}个人会员没有公司名称{/if}</a></p>
</dd>
</dl>
<div class="fr"><a href="{userurl($t[username])}" target="_blank" class="attract">进入商铺</a> <a href="{userurl($t[username], 'file=info')}" target="_blank" class="join mt10">我要加盟</a></div>
<p>{if $t[introduce]}{dsubstr($t[introduce], 150, '...')}{else}会员未填写企业介绍{/if}</p>
<div class="more">
<a href="{userurl($t[username], 'file=introduce')}" target="_blank">公司介绍</a>
<a href="{userurl($t[username], 'file=news')}" target="_blank">新闻动态</a>
<a href="{userurl($t[username], 'file=photo')}" target="_blank">公司图库</a>
<a href="{userurl($t[username], 'file=brand')}" target="_blank">公司品牌</a>
<a href="{userurl($t[username], 'file=sell')}" target="_blank">公司产品</a>
<a href="{userurl($t[username], 'file=contact')}" target="_blank">联系我们</a>
</div>
</li>
{/loop}
</ul>
</div>
<div class="wy-page" id="pagediv">{if $showpage && $pages}<div class="wy-page" id="pagediv">{$pages}</div>{/if}</div>