.wy-wrap2{width:825px;float:left;}
.wy-mn-list,.wy-mn-detail{float:left;position:relative;width:825px;}
.wy-mn-detail h1{width:760px;line-height:45px;margin:25px 0;padding-left:10px;font-size:32px;border-left:4px solid #db214c;clear:both;}
.wy-mn-detail h1 i{display:inline-block;width:37px;height:32px;margin-left:10px;background:url(img/base/sp-base.png) -120px -30px no-repeat;vertical-align:middle;*display:inline;zoom:1;}
.wy-sd{float:right;width:350px;padding:0;}
.wy-ad-structure{position:relative;width:800px;padding:0 24px 0 0;border-top:1px solid #e3e3e3;border-right:1px solid #e3e3e3;_padding-right:22px;}
.wy-mn-detail{margin-top:10px;}
.wy-absolute-ad1{position:absolute;top:0;left:0;}
.mt10{margin-top:10px;}

/* 新闻顶部二维码 */
.wy-ewm{position:absolute;top:0;right:0;width:36px;height:36px;background:url(img/base/sp-base.png) -80px -30px no-repeat;}
.wy-ewm-c{position:absolute;top:-1px;right:-1px;z-index:9999;width:170px;padding:10px;text-align:center;background:#fff;border:1px solid #e3e3e3;}
.wy-ewm-c p{padding:5px;line-height:20px;}
.wy-ewm-c i{font-weight:bold;color:#db214c;}
.wy-ewm-c table{margin:0 auto;}

/* 新闻底部二维码 */
.wy-ewm2{margin:20px auto;border:1px solid #e3e3e3;}
.wy-ewm2 dt,.wy-ewm2 dd{float:left;width:48%;padding:5px;}
.wy-ewm2 dd{border-left:1px solid #e3e3e3;}
.wy-ewm2 img,.wy-ewm2 b{float:left;display:block;margin-right:10px;}
.wy-ewm2 b{margin:10px 0 0 5px;}
.wy-ewm2 p{padding-top:20px;font-size:12px;line-height:24px;}
.wy-ewm2 span{line-height:30px;font-size:14px;font-weight:bold;}

/* 来源 */
.wy-source{padding:0 0 30px 8px;font-size:12px;border-bottom:1px solid #e3e3e3;}
.wy-source span,.wy-source a{padding:0 5px 0 0;color:#999;border-right:1px solid #e3e3e3;}
.wy-source a:hover{color:#db214c;}
.wy-source span:first-child{padding-left:0;}
.wy-source span:last-child,.wy-source a:last-child{border-right:none;}

/* 导读 */
.wy-lead{position:relative;padding:29px 58px;font:18px/35px "楷体";color:#666;background:#fafafa;_padding:20px 30px;}
.wy-lead span{position:absolute;width:35px;height:28px;color:#e8e8e8;*display:none;}
.wy-lead .l{left:16px;top:25px;background:url(img/base/sp-base.png) 0 -30px no-repeat;}
.wy-lead .r{right:17px;bottom:30px;background:url(img/base/sp-base.png) -40px -30px no-repeat;}

.wy-detail{width:740px;margin:0 auto;line-height:30px;font-size:16px;}
.wy-detail a{padding:0 0px;color:#db214c;text-decoration:underline;}
.wy-detail img{display:block;max-width:600px;height:auto;margin:10px auto;}
.wy-detail p{padding:10px 0;line-height:30px;font-size:16px;text-indent:2em;color:#333;}
.wy-detail p div{text-indent:0;}
.wy-detail p.original{font-size:14px;}
.wy-detail table{margin:10px auto;border-collapse:collapse;display:table;}
.wy-detail table td,.wy-detail table th{padding:5px 10px;border:1px solid #ddd;}

.wy-detail h2{line-height:35px;border-bottom:2px solid #ccc;}
.wy-detail ul{float:left;width:100%;padding:10px 0;}
.wy-detail li{float:left;width:50%;line-height:26px;font-size:14px;}
.wy-detail li a{color:#00f;text-decoration:none;}

/* 百度分享 */
.bdshare{float:right;width:280px;margin:15px auto 0;font-size:14px;text-align:center;}
.bdshare span{float:left;line-height:30px;}

.wy-read-page{padding:10px 0 30px;text-align:center;clear:both;}
.wy-read-page a{display:inline-block;height:30px;line-height:30px;margin:0 5px;padding:0 6px;font-size:14px;background:#fff;border:1px solid #e3e3e3;*display:inline;zoom:1;}
.wy-read-page a:hover{color:#fff;background:#db214c;text-decoration:none;}
.wy-read-page a.on,.wy-read-page a.on:hover{color:#fff;background:#ccc;cursor:default;}
.wy-read-page .pages_inp,.wy-read-page .pages_btn{height:28px;line-height:28px;}
.wy-read-page .pages_inp{width:30px;}
.wy-read-page .pages_btn{width:40px;margin:0;padding:0;text-indent:0;}
.wy-read-page cite,.pagebox cite{display:none;}

/* 上下篇 */
.wy-news-link{height:50px;line-height:50px;margin:0 auto;padding:0 10px;border-top:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;}
.wy-news-link dt,.wy-news-link dd{float:left;width:48%;margin-right:2%;font-size:14px;}

.wy-news-read{margin:0 auto;padding:20px;background:#f6f6f6;border:1px solid #e3e3e3;}
.wy-news-read h3{line-height:30px;padding:15px 0;font-size:22px;font-weight:bold;}
.wy-news-read p{line-height:24px;color:#999;}
.wy-news-read p a{color:#db214c;}
.wy-news-read a.back{display:inline-block;margin:30px 20px 0 0;padding:10px 20px;color:#666;background:#fff;border:1px solid #e3e3e3;border-radius:4px;*display:inline;zoom:1;}
.wy-news-read a.back:hover{color:#db214c;background:#fff;border:1px solid #db214c;}

.wy-com-info{margin:0 auto;padding:20px;border:1px solid #e3e3e3;background:#f9f9f9;}
.wy-com-info img{display:block;width:160px;height:58px;margin-top:15px;overflow:hidden;}
.wy-com-info p{line-height:24px;}
.wy-com-info dl{width:50%;float:left;}
.wy-com-info dt,.wy-com-info dd{float:left;width:50%;overflow:hidden;}
.wy-com-info dt.logo{width:170px;}
.wy-com-info a{display:block;font-size:14px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.wy-com-info a.name{font-size:16px;margin-top:12px;}
.wy-com-info a.enter:hover{background:#db214c;text-decoration:none;}
.wy-com-info a.enter{display:block;width:200px;height:40px;line-height:40px;margin:20px 0 0;font-size:16px;text-align:center;color:#fff;background:#ffa800;border-radius:3px;cursor:pointer;}

.wy-next-read{background:#f9f9f9;border-top:3px solid #000;padding:0 15px;}
.wy-next-read dt,.wy-next-read dd{float:left;width:48%;height:42px;line-height:40px;padding-right:2%;color:#999;font-size:14px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}

/* 免责声明 */
.wy-state{margin:10px auto;padding:10px;background:#fffbf0;border:1px solid #f9ecca;}
.wy-state p{line-height:24px;color:#666;}
.wy-state span{font-weight:bold;}
.wy-state a{color:#db214c;}

.wy-other-read{margin:0 auto;padding:0 10px;}
.wy-other-read .hd{float:left;height:60px;line-height:60px;}
.wy-other-read .hd h2{float:left;font-size:16px;}
.wy-other-read .hd a{float:left;height:32px;line-height:32px;margin:15px 0 0 5px;padding:0 10px;text-align:center;background:#fff;border:1px solid #e3e3e3;}
.wy-other-read .hd a:hover,.wy-other-read .hd a.on{text-decoration:none;color:#db214c;background:#fff;border:1px solid #db214c;}
.wy-other-read .bd{clear:both;}
.wy-other-read .bd li{height:42px;line-height:42px;}
.wy-other-read .bd li a{float:left;max-width:80%;line-height:42px;font-size:18px;_width:80%;}
.wy-other-read .bd span{float:right;color:#999;}
.wy-other-read .bd i{float:left;width:20px;font:bold 30px/42px "Arial";color:#999;}

.wy-enjoy{margin:0 auto;padding-top:20px;border-top:3px solid #000;}
.wy-enjoy .hd{height:40px;line-height:40px;border-bottom:1px solid #e3e3e3;}
.wy-enjoy .hd h2{float:left;padding:0 20px;}
.wy-enjoy .hd ul{float:left;border:1px solid #e3e3e3;border-bottom:none;border-right:none;}
.wy-enjoy .hd li{float:left;height:39px;line-height:39px;padding:0 16px;font-size:16px;background:#f6f6f6;border-right:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;cursor:pointer;}
.wy-enjoy .hd li.on{font-weight:bold;color:#db214c;background:#fff;border-bottom:1px solid #fff;}

.wy-enjoy .bd .pic,.wy-enjoy .bd .brand{width:820px;margin-top:15px;overflow:hidden;}
.wy-enjoy .bd .pic ul,.wy-enjoy .bd .brand ul{width:820px;}
.wy-enjoy .bd .pic a,.wy-enjoy .bd .brand a{display:block;}
.wy-enjoy .bd .pic li,.wy-enjoy .bd .brand li{float:left;width:190px;margin:0 12px 10px 0;font-size:14px;text-align:center;overflow:hidden;}
.wy-enjoy .bd .pic li{height:190px;}
.wy-enjoy .bd .pic img,.wy-enjoy .bd .brand img{display:block;margin:0 auto 5px;}
.wy-enjoy .bd .brand img{width:112px;height:40px;padding:5px 20px;border:1px solid #e3e3e3;}
.wy-enjoy .bd .pic img{width:188px;height:143px;border:1px solid #e3e3e3;}
.wy-enjoy .bd .news{margin-top:15px;}
.wy-enjoy .bd .news li{float:left;width:50%;height:40px;line-height:40px;font-size:18px;}

.wy-enjoy .bd .brand .hd2{width:100%;padding-top:5px;text-align:center;}
.wy-enjoy .bd .brand .hd2 li.on{width:10px;height:10px;border:2px solid #db214c;}
.wy-enjoy .bd .brand .hd2 li{float:none;display:inline-block;width:12px;height:12px;margin-right:5px;border:1px solid #d4d5d5;border-radius:100%;cursor:pointer;*display:inline;zoom:1;}

.wy-spc-tags ul{width:360px;}
.wy-spc-tags li{float:left;width:108px;margin:0 10px 10px 0;height:24px;line-height:24px;background:#fff;border-radius:20px;font-size:14px;text-align:center;border:1px solid #e3e3e3;}
.wy-spc-tags li a{display:block;text-decoration:none;}
.wy-spc-tags li:hover{background:#db214c;border:1px solid #db214c;}
.wy-spc-tags li:hover a{color:#fff;}

/* 行业聚焦 */
.wy-trade-focus .slide{position:relative;padding-bottom:20px;border-bottom:1px solid #e3e3e3;}
.wy-trade-focus .hd{position:absolute;top:0;right:0;}
.wy-trade-focus .hd li{display:block;width:10px;height:10px;margin-top:5px;background:#ccc;border-radius:0;cursor:pointer;}
.wy-trade-focus .hd li.on{background:#db214c;}
.wy-trade-focus .bd{width:300px;}
.wy-trade-focus .bd a{font-size:20px;font-weight:bold;}
.wy-trade-focus .bd p{margin-top:10px;line-height:24px;font-size:14px;color:#808080;}
.wy-trade-focus .bd p a{font-size:14px;font-weight:normal;color:#db214c;}

/* 新闻排行 */
.wy-news-rank .slide{border:1px solid #e3e3e3;}
.wy-news-rank .hd li{float:left;display:block;width:50%;height:45px;line-height:45px;font-size:20px;text-align:center;background:#f5f5f5;border-top:5px solid #f5f5f5;}
.wy-news-rank .hd li.on,.wy-news-rank .hd li:hover{text-decoration:none;background:#fff;border-top:5px solid #db214c;}
.wy-news-rank .bd{padding:10px 0;}
.wy-news-rank .bd li{float:left;width:90%;height:35px;line-height:35px;padding-left:5%;font-size:16px;}
.wy-news-rank .bd i{display:inline-block;width:20px;height:15px;margin-right:10px;font:bold 12px/15px "Arial";text-align:center;color:#fff;background:#999;border-radius:3px;*display:inline;zoom:1;}
.wy-news-rank .bd i.red{background:#db214c;}
.wy-news-rank .bd i.orange{background:#f90;}

/* 行业专访 */
.wy-trade-view .hd{margin-top:10px;}
.wy-trade-view .hd li{float:left;position:relative;width:19%;padding:0 0.5%;*width:18.5%;}
.wy-trade-view .hd li.on a img{border:3px solid #db214c;}
.wy-trade-view .hd li a{display:block;}
.wy-trade-view .hd li a img{display:block;width:90%;margin:0 auto;border:3px solid #fff;}
.wy-trade-view .hd li a:hover img{border:3px solid #db214c;}
.wy-trade-view .hd li i{position:absolute;top:-8px;left:40%;width:0;height:0;border-bottom:8px solid #fff;border-left:4px solid transparent;border-right:4px solid transparent;}
.wy-trade-view .hd li.on i,.wy-trade-view .hd li:hover i{border-bottom:8px solid #db214c;}

.wy-trade-view .bd li{position:relative;padding:0 0 10px;font-size:14px;color:#666;background:#fafafa;border-bottom:1px solid #e3e3e3;}
.wy-trade-view .bd h4{height:36px;line-height:36px;padding:5px 40px 0 50px;font-size:18px;text-align:center;overflow:hidden;}
.wy-trade-view .bd p.em,.wy-trade-view .bd p.em2{padding:20px 0 20px 80px;font-size:12px;text-align:right;}
.wy-trade-view .bd p.em2{padding:0 60px;}
.wy-trade-view .bd p.sm{padding:0 10px;line-height:24px;color:#808080;}
.wy-trade-view .bd p.sm a{color:#db214c;}
.wy-trade-view .bd span{position:absolute;width:35px;height:28px;color:#ddd;display:inline-block;*display:inline;zoom:1;}
.wy-trade-view .bd .l{left:10px;top:20px;background:url(img/base/sp-base.png) 0 -30px no-repeat;}
.wy-trade-view .bd .r{right:10px;top:20px;background:url(img/base/sp-base.png) -40px -30px no-repeat;}

/* 右侧图片推荐 */
.wy-pic-rec li{float:left;position:relative;width:170px;margin:5px 5px 10px 0;text-align:center;border-bottom:1px solid #e3e3e3;}
.wy-pic-rec li img{display:block;width:170px;height:128px;}
.wy-pic-rec li b{display:block;width:158px;height:40px;line-height:20px;padding:5px;font-size:14px;font-weight:normal;overflow:hidden;}

/* 列表栏目导航 */
.wy-list-nav{height:50px;background:#f7f9fa;border-top:1px solid #db214c;border-bottom:1px solid #e3e3e3;}
.wy-list-nav li{float:left;line-height:40px;text-align:center;}
.wy-list-nav a{display:block;position:relative;height:50px;line-height:50px;padding:0 20px;font-size:16px;}
.wy-list-nav a.on,.wy-list-nav a:hover{font-weight:bold;text-decoration:none;color:#fff;background:#db214c;}

/* 资讯列表 */
.wy-news-list dl{height:142px;padding:20px 10px;border-left:2px solid #fff;border-bottom:1px solid #e3e3e3;clear:both;}
.wy-news-list dl:hover{background:#f7f7f7;border-left:2px solid #db214c;}
.wy-news-list dt,.wy-news-list dd{float:left;}
.wy-news-list dt{position:relative;width:195px;height:135px;overflow:hidden;}
.wy-news-list dt a,.wy-news-list dt img{display:block;width:180px;height:135px;overflow:hidden;cursor:pointer;}
.wy-news-list dt i{position:absolute;left:0;bottom:0;display:block;padding:3px 7px;text-align:center;color:#fff;background:#db214c;}
.wy-news-list dt.wk{width:105px;height:115px;}
.wy-news-list dt.wk img{width:90px;height:115px;}
.wy-news-list dd{width:570px;}
.wy-news-list dd.all{width:100%;}
.wy-news-list dd.wk{width:660px;padding-top:10px;}
.wy-news-list dd h2{height:56px;font:normal 22px/28px "microsoft yahei";color:#404040;overflow:hidden;}
.wy-news-list dd p{height:48px;line-height:24px;font-size:14px;color:#808080;overflow:hidden;}
.wy-news-list dd p a{color:#db214c;}
.wy-news-list dd p a.tag{margin:0 0 0 10px;padding:3px 10px;color:#666;background:#fff;border:1px solid #e3e3e3;border-radius:10px;}
.wy-news-list dd p a.tag:hover{color:#fff;background:#db214c;border:1px solid #db214c;}
.wy-news-list dd p.time{height:30px;line-height:30px;margin-top:10px;font-size:12px;color:#999;}
.wy-news-list dd p.time span{margin-left:20px;padding-left:20px;font-size:12px;border-left:1px solid #e3e3e3;}
.wy-news-list dd p.time a.qymc{display:inline-block;height:20px;line-height:20px;margin-left:15px;padding:0 10px;text-align:center;color:#999;border-radius:15px;border:1px solid #e3e3e3;*display:inline;zoom:1;}
.wy-news-list dd p.time a:hover.qymc{text-decoration:none;color:#db214c;border:1px solid #db214c;}

.wy-news-list dl.tags{height:auto;padding:10px;}
.wy-news-list dl.tags:hover{background:#fff;border-left:2px solid #fff;}
.wy-news-list dl.tags dt,.wy-news-list dl.tags dd{float:none;}
.wy-news-list dl.tags dt{width:100%;height:50px;line-height:50px;font-size:14px;color:#999;}
.wy-news-list dl.tags dd{width:100%;}
.wy-news-list dl.tags dd a{display:inline-block;margin:0 10px 15px 0;padding:5px 10px;font-size:14px;*display:inline;zoom:1;background:#fff;border:1px solid #e3e3e3;border-radius:10px;}

/* 专题列表 */
.wy-topic-list dl{height:142px;padding:20px 10px;border-left:2px solid #fff;border-bottom:1px solid #e3e3e3;clear:both;}
.wy-topictopic-list dl:hover{background:#f7f7f7;border-left:2px solid #db214c;}
.wy-topic-list dt,.wy-topic-list dd{float:left;}
.wy-topic-list dt{position:relative;width:285px;height:135px;overflow:hidden;}
.wy-topic-list dt a,.wy-topic-list dt img{display:block;width:270px;height:135px;overflow:hidden;cursor:pointer;}
.wy-topic-list dt i{position:absolute;left:0;bottom:0;display:block;padding:3px 7px;text-align:center;color:#fff;background:#db214c;}
.wy-topic-list dd{width:500px;}
.wy-topic-list dd h2{height:56px;font:normal 22px/28px "microsoft yahei";color:#404040;overflow:hidden;}
.wy-topic-list dd p{height:48px;line-height:24px;font-size:14px;color:#808080;overflow:hidden;}
.wy-topic-list dd p a{color:#db214c;}
.wy-topic-list dd p a.tag{margin:0 0 0 10px;padding:3px 10px;color:#666;background:#fff;border:1px solid #e3e3e3;border-radius:10px;}
.wy-topic-list dd p a.tag:hover{color:#fff;background:#db214c;border:1px solid #db214c;}
.wy-topic-list dd p.time{height:30px;line-height:30px;margin-top:10px;font-size:12px;color:#999;}
.wy-topic-list dd p.time span{margin-left:20px;padding-left:20px;font-size:12px;border-left:1px solid #e3e3e3;}
.wy-topic-list dd p.time a.qymc{display:inline-block;height:20px;line-height:20px;margin-left:15px;padding:0 10px;text-align:center;color:#999;border-radius:15px;border:1px solid #e3e3e3;*display:inline;zoom:1;}
.wy-topic-list dd p.time a:hover.qymc{text-decoration:none;color:#db214c;border:1px solid #db214c;}

/* 高端访谈 */
.wy-view-rec{position:relative;height:370px;margin:0 auto;overflow:hidden;}
.wy-view-rec .hd{position:absolute;right:0;bottom:0;}
.wy-view-rec .hd li{float:left;width:110px;margin:0 7px;}
.wy-view-rec .hd li img{display:block;width:110px;height:80px;overflow:hidden;}
.wy-view-rec .hd li a{display:block;width:110px;height:80px;border:3px solid #fff;}
.wy-view-rec .hd li a:hover,.wy-view-rec .hd li.on a{border:3px solid #db214c;}
.wy-view-rec .bd dt{float:left;width:585px;}
.wy-view-rec .bd dt img{width:550px;height:367px;}
.wy-view-rec .bd dd{float:right;width:615px;}
.wy-view-rec .bd dd h4{width:100%;height:80px;font-size:32px;font-weight:bold;overflow:hidden;}
.wy-view-rec .bd dd h4 a:hover{text-decoration:none;}
.wy-view-rec .bd dd p{height:56px;line-height:28px;padding:30px 0 15px;font-size:14px;}
.wy-view-rec .bd dd p a{color:#db214c;}

/* 访谈首页列表 */
.wy-view dl{float:left;width:580px;}
.wy-view ul{float:right;width:580px;}
.wy-view dt{float:left;width:300px;}
.wy-view dd{float:left;width:280px;}
.wy-view dt a,.wy-view dt img{display:block;width:280px;height:210px;overflow:hidden;}
.wy-view dd h3{height:56px;margin-bottom:10px;font:normal normal bold 20px/28px "microsoft yahei";word-wrap:break-word;overflow:hidden;}
.wy-view dd p{height:99px;line-height:24px;font-size:14px;color:#666;overflow:hidden;}
.wy-view dd p a{color:#db214c;}
.wy-view dd p.time{height:36px;line-height:36px;font-size:12px;color:#999;}
.wy-view dd p.time span{margin-left:15px;padding-left:15px;border-left:1px solid #e3e3e3;}
.wy-view li{height:42px;line-height:42px;*height:40px;*line-height:40px;_height:35px;_line-height:35px;}
.wy-view li span{float:right;color:#999;}
.wy-view li a{float:left;max-width:80%;height:35px;line-height:35px;font-size:18px;_width:80%;}

.wy-topic-rec{position:relative;width:800px;clear:both;}
.wy-topic-rec li{float:left;display:inline-block;margin:0 2px 2px 0;overflow:hidden;*display:inline;zoom:1;}
.wy-topic-rec li,.wy-topic-rec li img{width:240px;height:179px;}
.wy-topic-rec li.first,.wy-topic-rec li.last,.wy-topic-rec li.first img,.wy-topic-rec li.last img{width:478px;height:360px;}
.wy-topic-rec li.last{position:absolute;top:0;}
.wy-topic-rec li a{display:block;position:relative;text-decoration:none;}
.wy-topic-rec li em{display:block;position:absolute;left:0;bottom:0;width:90%;height:74px;padding:0 5%;font:normal 14px/90px "microsoft yahei";color:#fff;background:url(img/base/gra_line55.png) repeat-x;_background:0;}
.wy-topic-rec li.first em,.wy-topic-rec li.last em{font:normal 18px/90px "microsoft yahei";}

.wy-topic .bd{width:1250px;}
.wy-topic .bd dl{float:left;width:285px;height:325px;margin:0 7px 20px;overflow:hidden;}
.wy-topic .bd dl:hover{box-shadow:0 0 15px rgba(0,0,0,0.5),0 0 5px rgba(200,200,200,0.5);z-index:12;transition-duration:.5s;-webkit-transition-duration:.5s;}
.wy-topic .bd dt img{display:block;width:285px;height:214px;}
.wy-topic .bd dd{padding:15px;background:#fff;border:1px solid #e3e3e3;border-top:none;}
.wy-topic .bd dd:hover{background:#f7f7f7;}
.wy-topic .bd dd h3{height:55px;line-height:26px;font-size:18px;overflow:hidden;}
.wy-topic .bd dd p{line-height:22px;color:#999;}
.wy-topic .bd dd p a{color:#db214c;}

.wy-mn{float:left;width:608px;}
.wy-sd-l{float:left;width:260px;margin-right:36px;}
.wy-sd-r{float:right;width:260px;}

.wy-sd-l2{float:left;width:300px;}
.wy-sd-l2 img{display:block;width:300px;height:225px;}
.wy-sd-l2,.wy-sd-l2 .bd a{display:block;position:relative;}
.wy-sd-l2 .bd{height:225px;overflow:hidden;}
.wy-sd-l2 .bd a:hover{text-decoration:none;}
.wy-sd-l2 .bd h3,.wy-sd-l2 .bd span{position:absolute;bottom:0;left:0;color:#fff;}
.wy-sd-l2 .bd h3{display:block;bottom:7px;z-index:99;padding:0 10px;font:normal 14px/20px "microsoft yahei";}
.wy-sd-l2 .bd span{width:300px;height:50px;text-align:center;background:#000;filter:alpha(opacity=60);-moz-opacity:0.6;opacity:0.6;overflow:hidden;}
.wy-sd-l2 .hd{padding:20px 0 30px;text-align:center;}
.wy-sd-l2 .hd li.on{width:30px;height:10px;background:#db214c;border:1px solid #db214c;}
.wy-sd-l2 .hd li{display:inline-block;width:10px;height:10px;margin:1px;background:#fff;border:solid 1px #ccc;border-radius:10px;cursor:pointer;*display:inline;zoom:1;}
.wy-sd-r2{float:right;width:270px;}

/* 首页头条推荐 */
.wy-news-rec{width:100%;}
.wy-news-rec h2{float:left;width:100%;height:46px;font:bold 28px/46px "microsoft yahei";}
.wy-news-rec h2 i{display:inline-block;width:46px;height:46px;margin-right:12px;background:url(img/news/ico-news.png) 0 -605px no-repeat;vertical-align:top;*display:inline;zoom:1;}
.wy-news-rec ul{float:left;width:585px;margin-left:22px;padding-top:15px;border-left:1px solid #f8f8f8;}
.wy-news-rec li{float:left;width:100%;margin-left:-7px;font:normal 18px/42px "microsoft yahei";text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.wy-news-rec li i{display:inline-block;width:12px;height:14px;margin-right:34px;background:url(img/news/ico-news.png) -45px -555px no-repeat;*display:inline;zoom:1;}
.wy-news-rec li:hover i{background:url(img/news/ico-news.png) -29px -555px no-repeat;}
.wy-news-rec li em{display:inline-block;width:48px;margin:0 0 0 10px;line-height:22px;font-size:12px;text-align:center;color:#fea5a5;border:1px solid #fea5a5;border-radius:3px;vertical-align:middle;*display:inline;zoom:1;}

/* 首页新闻滚动 */
.wy-news-focus{width:100%;margin-top:10px;}
.wy-news-focus .slide{float:left;width:608px;}
.wy-news-focus .hd{text-align:center;padding-top:10px;}
.wy-news-focus .hd li{display:inline-block;width:10px;height:10px;margin:0 5px;background:#fff;border:1px solid #ccc;border-radius:10px;cursor:pointer;*display:inline;zoom:1;}
.wy-news-focus .hd li.on{width:32px;height:10px;background:#db214c;border:1px solid #db214c;}
.wy-news-focus .bd{height:230px;}
.wy-news-focus .bd ul{width:616px;margin-right:-8px;}
.wy-news-focus .bd li{float:left;position:relative;width:300px;height:225px;margin-right:8px;overflow:hidden;}
.wy-news-focus .bd li img{width:300px;height:225px;vertical-align:top;}
.wy-news-focus .bd li a{color:#fff;}
.wy-news-focus .bd li p{display:block;position:absolute;left:0;bottom:0;z-index:9;width:276px;height:16px;padding:44px 12px 14px;font:normal 14px/16px "microsoft yahei";text-align:center;background:url(img/base/gra_line55.png) repeat-x;overflow:hidden;}
.wy-news-focus .bd li span{display:none;position:absolute;left:0;top:0;z-index:8;width:100%;height:225px;background:url(img/base/trasbg.png) repeat;}
.wy-news-focus .bd li:hover span{display:block;}
.wy-news-focus .bd li:hover p{top:67px;left:30px;width:230px;height:48px;padding:20px 0;font:bold 18px/24px "microsoft yahei";background:none;border-top:1px solid #fff;border-bottom:1px solid #fff;overflow:hidden;white-space:normal;}

.wy-sd-menu{float:right;width:180px;margin-top:5px;}
.wy-sd-menu li{float:left;width:100%;margin:5px 0;font:normal 20px/50px "microsoft yahei";text-align:right;}
.wy-sd-menu li i{display:inline-block;width:30px;height:30px;margin:-3px 5px 0 0;background-image:url(img/news/ico-news.png);vertical-align:middle;*display:inline;zoom:1;}
.wy-sd-menu li:hover,.wy-sd-menu li.on{background:#db214c;color:#fff;font-weight:bold;text-align:left;border-radius:50px 0 0 50px;text-indent:15px;cursor:pointer;}
.wy-sd-menu li a{float:left;width:100%;}
.wy-sd-menu li:hover a,.wy-sd-menu li.on a{color:#fff;}
.wy-sd-menu li:hover i,.wy-sd-menu li.on i{margin-right:10px;}
.wy-sd-menu li i.tj{background-position:0 -368px;}
.wy-sd-menu li i.hy{background-position:0 -398px;}
.wy-sd-menu li i.qy{background-position:0 -428px;}
.wy-sd-menu li i.zt{background-position:0 -458px;}
.wy-sd-menu li i.ft{background:url(img/news/micphone.png) no-repeat;}
.wy-sd-menu li i.dz{background-position:0 -518px;}
.wy-sd-menu li:hover i.tj,.wy-sd-menu li.on i.tj{background-position:-30px -368px;}
.wy-sd-menu li:hover i.hy,.wy-sd-menu li.on i.hy{background-position:-30px -398px;}
.wy-sd-menu li:hover i.qy,.wy-sd-menu li.on i.qy{background-position:-30px -428px;}
.wy-sd-menu li:hover i.zt,.wy-sd-menu li.on i.zt{background-position:-30px -458px;}
.wy-sd-menu li:hover i.ft,.wy-sd-menu li.on i.ft{background-position:0 -30px;}
.wy-sd-menu li:hover i.dz,.wy-sd-menu li.on i.dz{background-position:-30px -518px;}
.slidefixed{position:fixed;top:0;left:50%;z-index:999;margin-left:-500px;}

.wy-spd-topic .hd{text-align:center;}
.wy-spd-topic .hd li{display:inline-block;width:10px;height:10px;margin:15px 1px 1px;background:#fff;border:1px solid #ccc;border-radius:10px;cursor:pointer;*display:inline;zoom:1;}
.wy-spd-topic .hd li.on{width:32px;height:10px;background:#db214c;border:1px solid #db214c;}
.wy-spd-topic .bd li{width:260px;}
.wy-spd-topic .bd li img{width:260px;height:210px;margin-top:3px;vertical-align:top;}
.wy-spd-topic .bd li a{display:block;width:260px;cursor:pointer;z-index:999999;}
.wy-spd-topic .bd li h3{display:block;width:230px;height:48px;margin-top:10px;padding:0 10px;font:bold 16px/24px "microsoft yahei";text-align:justify;overflow:hidden;}
.wy-spd-topic .bd li p{margin-top:10px;padding:0 10px;color:#999;font:14px/24px "microsoft yahei";text-align:justify;word-break:break-all}
.wy-spd-topic .bd li:hover p{color:#999;}

.wy-tag-topic{width:100%;margin-top:10px;}
.wy-tag-topic ul{width:280px;margin-right:-10px;}
.wy-tag-topic li:hover{border:1px solid #db214c;}
.wy-tag-topic li{float:left;width:78px;margin:10px 10px 0 0;font:normal 12px/28px "microsoft yahei";text-align:center;border:1px solid #e3e3e3;border-radius:7px;}

/* 展会列表 */
.wy-exhb-list2 dl{height:88px;padding:20px 10px;border-bottom:1px solid #e3e3e3;}
.wy-exhb-list2 dl:hover{background:#f7f7f7;border-right:2px solid #db214c;}
.wy-exhb-list2 dt img{display:block;width:280px;height:88px;}
.wy-exhb-list2 dd h2{margin:7px 0 10px;font-size:16px;}
.wy-exhb-list2 dd p{height:20px;line-height:20px;font-size:14px;color:#999;}
.wy-exhb-list2 dt,.wy-exhb-list2 dd{float:left;}
.wy-exhb-list2 dt{width:300px;}
.wy-exhb-list2 dd{width:475px;}
.wy-exhb-list2 dd.all{width:100%;}

/* 展会合作联系 */
.wy-exhb-con{position:relative;width:300px;height:105px;padding-top:12px;background:#f8f8f8;}
.wy-exhb-con i{display:block;position:absolute;bottom:0;right:0;width:24px;height:24px;background:#fff url(img/zh/sp-zh.png) -55px -35px no-repeat;}
.wy-exhb-con h3{position:absolute;top:-15px;left:20px;font-size:20px;}
.wy-exhb-con p{line-height:30px;padding-left:20px;font-size:16px;}
.wy-exhb-con p img{width:74px !important;height:23px !important;}

/* 展会专访列表 */
.wy-exhb-list dl{height:142px;padding:20px 10px;border-left:2px solid #fff;border-bottom:1px solid #e3e3e3;clear:both;}
.wy-exhb-list dl:hover{background:#f7f7f7;border-left:2px solid #db214c;}
.wy-exhb-list dl.asso{height:auto;}
.wy-exhb-list dt,.wy-exhb-list dd{float:left;}
.wy-exhb-list dt{width:195px;height:135px;overflow:hidden;}
.wy-exhb-list dt.wk{width:105px;height:115px;}
.wy-exhb-list dt.wk img{width:90px;height:115px;}
.wy-exhb-list dd{width:570px;}
.wy-exhb-list dd.all,.wy-exhb-list dl.asso dd{width:100%;float:none;}
.wy-exhb-list dt img{display:block;width:180px;height:135px;}
.wy-exhb-list dd.wk{width:660px;padding-top:10px;}
.wy-exhb-list dd h2{height:56px;line-height:28px;margin-bottom:3px;font-size:22px;font-weight:normal;color:#404040;overflow:hidden;}
.wy-exhb-list dl.asso dd h2{height:28px;line-height:28px;margin-bottom:15px;}
.wy-exhb-list dd p{height:48px;line-height:24px;font-size:14px;color:#808080;overflow:hidden;}
.wy-exhb-list dd p a{color:#db214c;}
.wy-exhb-list dd p.wy-time{height:30px;line-height:30px;margin-top:5px;font-size:12px;color:#999;}
.wy-exhb-list dd p.wy-time span{margin-left:20px;padding-left:20px;font-size:12px;border-left:1px solid #e3e3e3;}
.wy-exhb-list dd p.jcztime a.qymc{display:inline-block;height:20px;line-height:20px;margin-left:15px;padding:0 10px;text-align:center;color:#999;border:1px solid #e0e0e0;border-radius:15px;*display:inline;zoom:1;}
.wy-exhb-list dd p.wy-time a:hover.qymc{text-decoration:none;color:#db214c;border:1px solid #db214c;}
.wy-exhb-list dt a:hover img{transition:transform 0.3s linear;transform:scaleX(1.03) scaleY(1.03);-webkit-transition:-webkit-transform 0.3s linear;-webkit-transform:scaleX(1.03) scaleY(1.03);}

.wy-exhb-trl2 li{width:100%;height:46px;margin-bottom:10px;}
.exhb-time{float:left;width:44px;height:44px;border:1px solid #999;}
.exhb-time i,.exhb-time em{display:block;width:100%;line-height:23px;font-size:14px;text-align:center;color:#666;}
.exhb-time i{height:21px;background:#ccc;border-bottom:1px solid #999;}
.exhb-time em{height:22px;}
.exhb-text{float:left;width:80%;padding-left:10px;}
.exhb-text h2{line-height:22px;font-size:14px;}
.exhb-text p{height:22px;line-height:22px;font-size:12px;color:#666;overflow:hidden;}
.exhb-text p a{margin-left:6px;color:#db214c;cursor:pointer;}

/* 展会专题 */
.wy-exhb-piclist ul{width:98%;border:1px solid #e3e3e3;}
.wy-exhb-piclist li{margin:15px;}
.wy-exhb-piclist li h4{padding-bottom:10px;font-size:16px;font-weight:normal;color:#333;}
.wy-exhb-piclist li img{float:left;width:158px;height:118px;margin-right:10px;}
.wy-exhb-piclist li p{height:112px;color:#666;overflow:hidden;}
.wy-exhb-piclist li p a{color:#db214c;cursor:pointer;}
.wy-clock,.wy-eye,.ico-wz,.ico-sjfw{display:inline-block;height:20px;vertical-align:middle;*display:inline;zoom:1;}
.wy-clock{width:20px;margin-right:5px;background:url(img/base/sp-base.png) no-repeat;}
.wy-eye{width:17px;margin:5px 5px 0 20px;background:url(img/base/sp-base.png) -40px 0 no-repeat;}

/* 展会预告 */
.exhb-time{float:left;width:44px;height:44px;border:1px solid #999;}
.exhb-time i,.exhb-time em{display:block;width:100%;line-height:23px;font-size:14px;text-align:center;color:#666;}
.exhb-time i{height:21px;background:#ccc;border-bottom:1px solid #999;}
.exhb-time em{height:22px;}
.exhb-text{float:left;width:80%;padding-left:10px;}
.exhb-text h2{line-height:22px;font-size:14px;}
.exhb-text p{height:22px;line-height:22px;font-size:12px;color:#666;overflow:hidden;}
.exhb-text p a{margin-left:6px;color:#db214c;cursor:pointer;}

/* 展会专题图片列表 */
.wy-pic-list{width:1250px;}
.wy-pic-list dl{float:left;width:285px;height:325px;margin:0 7px 20px;overflow:hidden;}
.wy-pic-list dt img{display:block;width:285px;height:214px;}
.wy-pic-list dl:hover{box-shadow:0 0 15px rgba(0,0,0,0.5),0 0 5px rgba(200,200,200,0.5);z-index:12;transition-duration:.5s;-webkit-transition-duration:.5s;}
.wy-pic-list dd{padding:15px;background:#fff;border:1px solid #e3e3e3;border-top:none;}
.wy-pic-list dd:hover{background:#f7f7f7;}
.wy-pic-list dd h3{height:55px;line-height:26px;font-size:18px;overflow:hidden;}
.wy-pic-list dd p{line-height:22px;color:#999;}
.wy-pic-list dd p a{color:#db214c;}

/* 协会详情 */
.wy-asso-ban{position:relative;width:1200px;height:360px;margin:0 auto;background:url(img/zh/xh-ban.jpg) no-repeat;}
.wy-asso-ban h1{position:absolute;top:200px;left:620px;font-size:36px;color:#c59c68;}
.wy-asso-tt{width:1200px;height:40px;line-height:40px;margin:25px auto;border-bottom:1px solid #e3e3e3;}
.wy-asso-tt h2{width:95px;height:40px;margin:0 auto;font:bold 22px "microsoft yahei";text-align:center;border-bottom:2px solid #bd9863;}

.wy-asso-intro p{line-height:30px;padding:10px 20px;font-size:16px;text-indent:2em;text-align:justify;}
.wy-asso-news ul{padding:0 20px;}
.wy-asso-news li{float:left;width:47%;height:35px;line-height:35px;padding:0 1.5%;}
.wy-asso-news li a{float:left;max-width:70%;line-height:35px;font-size:16px;_width:70%;}
.wy-asso-news li span{float:right;font-size:14px;color:#999;}
.wy-asso-contact li{float:left;width:50%;line-height:35px;font-size:16px;text-indent:2em;}
.wy-asso-contact .bd{margin:20px auto;padding:9px;border:1px solid #e3e3e3;}

/* 评测列表页 */
.wy-actv-sales .bd{border:1px solid #e3e3e3;}
.wy-actv-sales .bd li{padding:10px;}
.wy-actv-sales .bd li img{width:328px;}
.wy-actv-sales .bd li h3{height:20px;padding:20px 0;font-size:16px;font-weight:normal;color:#333;}
.wy-actv-sales .bd li p{height:56px;padding-bottom:20px;font-size:14px;text-align:justify;color:#666;text-overflow:ellipsis;overflow:hidden;}
.wy-actv-sales .hd{padding:10px 0;text-align:center;}
.wy-actv-sales .hd li{display:inline-block;zoom:1;width:10px;height:10px;margin:2px;background:#fff;border:1px solid #e3e3e3;border-radius:10px;cursor:pointer;*display:inline;zoom:1;}
.wy-actv-sales .hd li.on{width:32px;height:10px;background:#db214c;border:1px solid #db214c;}

/* 评测推荐 */
.wy-elvt-rec{position:relative;}
.wy-elvt-rec .slide .bd li a img{float:left;width:470px;height:370px;}
.rec-txt{float:left;width:300px;height:340px;padding:15px;background:#474442;color:#fff;}
.rec-txt h2{margin:20px 0;}
.rec-txt p{height:240px;line-height:24px;font-size:14px;text-align:justify;overflow:hidden;}
.rec-txt p a{color:#db214c;cursor:pointer;}
.wy-elvt-rec .hd{position:absolute;right:50px;top:330px;padding-bottom:6px;text-align:center !important;*padding:11px 0;}
.wy-elvt-rec .hd li{display:inline-block;width:10px;height:10px;margin:2px;background:#fff;border:1px solid #e3e3e3;border-radius:10px;cursor:pointer;*display:inline;zoom:1;}
.wy-elvt-rec .hd li.on{width:32px;height:10px;background:#db214c;border:1px solid #db214c;}

/* 评测畅销品牌 */
.wy-brand-list li{float:left;margin:0 0 15px 10px;border:1px solid #e3e3e3;cursor:pointer;}
.wy-brand-list li a,.wy-brand-list li img{display:block;}
.wy-brand-list li a h3{width:157px;height:56px;}
.wy-brand-list li a p{width:157px;height:30px;line-height:30px;font-size:14px;text-align:center;}
.wy-brand-list li img{width:157px;height:56px;}

/* 评测详情页 */
.wy-adbox{width:350px;height:250px;margin-bottom:20px;background:#ccc;}
.wy-provideo .pro-video .videobox{width:350px;height:260px;background:#ccc;}
.wy-provideo .pro-video h3,.wy-provideo .pro-video li{width:100%;height:24px;line-height:24px;}
.wy-provideo .pro-video h3{padding:10px 0;font-size:16px;font-weight:normal;text-align:center;}
.wy-provideo .pro-video li{font-size:14px;cursor:pointer;}
.wy-provideo .pro-video li a{color:#666;}
.wy-provideo .pro-video li a:hover{color:#db214c;}

/* 名人堂 */
.wy-fame-top1{width:100%;height:226px;background:url(img/news/mrt_top01.jpg) center top no-repeat;border-top:3px solid #db214c;}
.wy-fame-top2{width:100%;height:462px;margin-bottom:20px;background:url(img/news/mrt_top02.jpg) center top no-repeat;}
.wy-fame-last .slide{position:relative;width:1090px;margin:0 auto;}
.wy-fame-last .bd .img{float:left;width:478px;height:359px;padding:18px;background:#000;}
.wy-fame-last .bd .img img{display:block;width:478px;height:359px;overflow:hidden;}
.wy-fame-last .bd .txt{float:left;width:576px;height:399px;background:url(img/news/mrtbg.png) no-repeat;}
.wy-fame-last .bd h2{height:90px;padding:50px 30px 20px;font:bold 32px/45px "microsoft yahei";color:#fff;}
.wy-fame-last .bd h2 a{color:#fff;}
.wy-fame-last .bd p{height:105px;line-height:24px;padding:0 30px 150px;font-size:14px;color:#fff;overflow:hidden;}
.wy-fame-last .hd{position:absolute;left:545px;top:270px;width:495px;height:89px;}
.wy-fame-last .hd li{float:left;width:85px;height:85px;margin:0 5px;border:2px solid rgba(200,200,200,0);}
.wy-fame-last .hd li.on{border:2px solid #fff;}

.wy-fame-item{width:100%;padding:20px 0;}
.wy-fame-item a{float:left;width:33%;font:bold 24px/80px "microsoft yahei";text-align:center;}
.wy-fame-item a:hover{color:#db214c;}
.wy-fame-item a i{display:inline-block;width:80px;height:80px;background:url(img/news/mrt_bicon.png) no-repeat;vertical-align:middle;*display:inline;zoom:1;}
.wy-fame-item a i.i1{background-position:0 0;}
.wy-fame-item a i.i2{background-position:0 -80px;}
.wy-fame-item a i.i3{background-position:0 -160px;}
.wy-fame-item a:hover i.i1{background-position:-80px 0;}
.wy-fame-item a:hover i.i2{background-position:-80px -80px;}
.wy-fame-item a:hover i.i3{background-position:-80px -160px;}

.wy-fame-list{width:100%;}
.wy-fame-list ul{width:1220px;margin-right:-20px;}
.wy-fame-list li{float:left;position:relative;width:580px;margin:20px 20px 0 0;}
.wy-fame-list li div{float:right;width:258px;padding-left:18px;}
.wy-fame-list li .img{float:left;display:block;width:300px;height:225px;overflow:hidden;}
.wy-fame-list li .img img{width:300px;height:225px;border:1px solid #e3e3e3;}
.wy-fame-list li h3{width:100%;height:52px;margin-bottom:15px;font:bold 16px/26px "microsoft yahei";overflow:hidden;}
.wy-fame-list li em{color:#999;font:normal 14px/20px "microsoft yahei";}
.wy-fame-list li p{margin-top:15px;height:72px;font:normal 14px/24px "microsoft yahei";overflow:hidden;}
.wy-fame-list li .enter{display:inline-block;position:absolute;bottom:10px;left:320px;padding:0 20px;font:12px/30px "microsoft yahei";text-align:center;color:#db214c;background:#fff;border:1px solid #db214c;border-radius:30px;*display:inline;zoom:1;}
.wy-fame-list li .enter:hover{color:#fff;background:#db214c;}

/* 展会合作 */
.wy-exhb-con{position:relative;width:300px;height:105px;padding-top:12px;background:#f8f8f8;}
.wy-exhb-con i{display:block;position:absolute;bottom:0;right:0;width:24px;height:24px;background:#fff url(img/zh/sp-zh.png) -55px -35px no-repeat;}
.wy-exhb-con h3{position:absolute;top:-15px;left:20px;font-size:20px;}
.wy-exhb-con p{line-height:30px;padding-left:20px;font-size:16px;}
.wy-exhb-con p img{width:74px !important;height:23px !important;}

/* 展会预告 */
.wy-exhb-trl .hd{width:100%;height:30px;line-height:30px;margin-bottom:10px;background:url(img/zh/tit_bg.gif) 0 -3px repeat-x;overflow:hidden;}
.wy-exhb-trl .hd h3,.wy-exhb-trl .hd h3 b{display:inline-block;*display:inline;zoom:1;}
.wy-exhb-trl .hd h3{height:30px;line-height:30px;padding-left:6px;font-size:18px;font-weight:bold;color:#fff;background:#db214c;}
.wy-exhb-trl .hd h3 b{padding-right:6px;text-align:left;background:#334a85;}
.wy-exhb-trl .hd .more{float:right;height:35px;line-height:35px;padding:0 17px 0 7px;color:#999;background:#fff url(img/base/more.gif) 33px 9px no-repeat;cursor:pointer;}
.wy-exhb-trl .hd .more:hover{color:#db214c;background:#fff url(img/base/more2.gif) 33px 9px no-repeat;}

.wy-mn2{float:left;width:540px;margin:0 28px;padding-right:29px;border-right:1px solid #e3e3e3;}
.wy-mn2 dl{height:66px;margin-bottom:10px;border-bottom:1px dashed #e3e3e3;}
.wy-mn2 dt a{display:inline-block;font-size:20px;font-weight:bold;*display:inline;zoom:1;}
.wy-mn2 dd{line-height:40px;font-size:14px;color:#999;}
.wy-mn2 dd span{float:left;}
.wy-mn2 dd s{float:right;}

/* 展会报道 */
.wy-exhb-list ul{padding:18px 0 12px;border-bottom:1px solid #e3e3e3;}
.wy-exhb-list li{height:35px;line-height:35px;font-size:16px;}
.border ul{border-bottom:1px solid #e3e3e3;}

/* 合作展会 */
.wy-exhibition .bd ul,.wy-exhb-topic ul,.wy-exhb-itrv ul{width:1250px;}
.wy-exhibition .bd li,.wy-exhb-topic li,.wy-exhb-itrv li{float:left;width:220px;min-height:123px;margin:5px 25px 5px 0;}
.wy-exhibition .bd li img{display:block;width:200px;height:80px;padding:10px;border:1px solid #e3e3e3;}
.wy-exhibition .bd li h3,.wy-exhb-itrv li h3{height:35px;font:normal 14px/35px "microsoft yahei";text-align:center;}

/* 合作专题 */
.wy-exhb-topic li{position:relative;}
.wy-exhb-topic li img{display:block;width:220px;height:165px;}
.wy-exhb-topic li a:hover{text-decoration:none;}
.wy-exhb-topic li h3,.wy-exhb-topic li span{display:none;}
.wy-exhb-topic li:hover h3,.wy-exhb-topic li:hover span{display:block;}
.wy-exhb-topic li h3{position:absolute;bottom:5px;left:0;z-index:99;line-height:20px;padding:0 10px;font:normal 14px "microsoft yahei";color:#fff;}
.wy-exhb-topic li:hover span{position:absolute;bottom:0;left:0;background:#000;width:100%;height:50px;color:#fff;text-align:center;filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;overflow:hidden;}

/* 合作专访 */
.wy-exhb-itrv li img{display:block;width:220px;height:165px;}
.wy-intro{display:inline-block;width:35px;height:18px;margin-left:10px;background:url(img/zh/sp-zh.png) 0 -65px no-repeat;*display:inline;zoom:1;}

/* 排行top10 */
.wy-ranking{background:#fff;overflow:hidden;}
.wy-ranking .hd h3{height:50px;padding-left:15px;font:normal 24px/50px "microsoft yahei";}
.wy-ranking .hd h3 i{color:#db214c;}
.wy-ranking .hd{position:relative;}
.wy-ranking .hd ul{position:absolute;top:0;right:0;}
.wy-ranking .hd li{float:left;height:50px;line-height:50px;padding:0 10px;font-size:16px;background:#f5f5f5;cursor:pointer;border:1px solid #e3e3e3;border-left:none;}
.wy-ranking .hd li.on{background:#fff;border:1px solid #e3e3e3;border-top:2px solid #db214c;border-bottom:none;}
.wy-ranking .bd{border:1px solid #e3e3e3;}
.wy-ranking .bd li{float:left;width:348px;padding:5px 0 0;font-size:14px;}
.wy-ranking .bd dd{height:25px;line-height:25px;padding:7px 10px;font-size:14px;clear:both;}
.wy-ranking .bd i{float:left;display:block;width:8%;margin-right:5px;font:normal bold 20px/25px "Arial";color:#ccc;text-align:center;}
.wy-ranking .bd dd a{float:left;display:block;width:88%;}
.wy-ranking .bd dt{display:none;position:relative;height:176px;padding:3px 0 15px;}
.wy-ranking .bd dl.on dt{display:block;}
.wy-ranking .bd dl.on dd{display:none;}
.wy-ranking .bd dt img{display:block;width:90%;height:176px;margin:0 auto 5px;}

.wy-exhib-info{width:96%;margin:30px 0 20px;padding:10px 15px;background:#f1f1f1;border-left:3px solid #db214c;}
.wy-exhib-info h3,.wy-exhib-info p{width:100%;font:normal 16px/40px "microsoft yahei";color:#333;}
.wy-exhib-info p{float:left;width:50%;}

.wy-exhb-moth{float:right;padding-left:10px;font-size:14px;font-weight:bold;color:#333;background:#fff;}
.wy-exhb-moth span{margin:0 7px;}
.wy-exhb-moth a{display:inline-block;margin:0 4px;padding:0 6px;font-weight:normal;color:#db214c;background:#fff;border:1px solid #db214c;border-radius:3px;*display:inline;zoom:1;}
.wy-exhb-moth a:hover,.wy-exhb-moth a.cur{color:#fff;text-decoration:none;border:1px solid #c30;background:#db214c;}

.wy-exhb-rec{position:relative;width:1250px;}
.wy-exhb-rec li{float:left;width:220px;margin:5px 25px 5px 0;min-height:123px;}
.wy-exhb-rec li div.bor{height:49px;padding:10px;border:1px solid #e3e3e3;border-top:none;}
.wy-exhb-rec li img{display:block;width:220px;height:88px;padding:10px;border:1px solid #e3e3e3;}
.wy-exhb-rec h3{height:35px;margin-bottom:5px;font:normal 14px/35px "microsoft yahei";text-align:center;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.wy-exhb-rec span{font-size:12px;color:#999;}
.wy-exhb-rec span.fl{width:110px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.wy-exhb-rec a{text-decoration:none;}

p.flzs{line-height:50px;margin-bottom:10px;font-size:16px;font-weight:bold;border-bottom:2px dashed #c9c9c9;}
p.flzs span{float:right;text-align:right;font-size:14px;font-weight:normal;}
p.flzs a{color:#db214c;}

.wy-rank-list .slide{border:1px solid #e3e3e3;}
.wy-rank-list .hd li{float:left;display:block;width:50%;height:45px;line-height:45px;font-size:20px;text-align:center;background:#f5f5f5;border-top:5px solid #f5f5f5;}
.wy-rank-list .hd li.on{background:#fff;border-top:5px solid #db214c;text-decoration:none;}
.wy-rank-list .bd{padding:10px 0;}
.wy-rank-list .bd li{float:left;width:42%;height:35px;line-height:35px;padding:0 4%;font-size:16px;}
.wy-rank-list .bd i{display:inline-block;width:20px;height:15px;margin-right:10px;font:bold 12px/15px "Arial";text-align:center;color:#fff;background:#999;border-radius:3px;*display:inline;zoom:1;}
.wy-rank-list .bd i.red{background:#db214c;}
.wy-rank-list .bd i.orange{background:#f90;}

.wy-bgc{background:#f8f8f8;}
.wy-pic-top{background:#fff;}
.wy-weitu-class{margin-bottom:20px;}
.wy-weitu-class li{display:inline-block;margin:0 4px;border-radius:10px;*display:inline;zoom:1;}
.wy-weitu-class li a{display:block;padding:5px 15px;font-size:14px;color:#666;background:#fff;border:1px solid #e3e3e3;border-radius:15px;}
.wy-weitu-class li a:hover,.wy-weitu-class li a.on{color:#fff;background:#db214c;border:1px solid #db214c;}

.wy-weitu-list{position:relative;width:1200px;margin:0 auto;min-height:500px;}
.wy-weitu-main-list ul{float:left;position:relative;width:1200px;}
.wy-weitu-main-list li{float:left;position:relative;width:287px;display:inline;margin:0 12px 15px 0;padding-bottom:0;border-bottom:solid 2px #dadada;cursor:pointer;}
.wy-weitu-main-list li:hover{box-shadow:0 0 15px rgba(0,0,0,0.5),0 0 5px rgba(200,200,200,0.5);z-index:12;transition-duration:.5s;-webkit-transition-duration:.5s;}
.wy-weitu-main-list li .listbox{float:left;width:287px;background:#fff;border:1px solid #e3e3e3;}
.wy-weitu-main-list li .listbox p.pic{float:left;margin:8px;display:inline;}
.wy-weitu-main-list li .listbox p.pic img{width:271px;display:block;}
.wy-weitu-main-list li .listbox em{display:block;width:95%;font-size:16px;height:35px;line-height:35px;background:#fff;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;position:absolute;left:9px;bottom:0;}
.wy-weitu-main-list li .listbox a{display:block;max-height:900px;overflow:hidden;}
.wy-weitu-main-list li .listbox i{display:block;position:absolute;left:9px;top:10px;padding:5px 10px;background:#db214c;color:#fff;}

.wy-weitu-main-list li.hot div{height:480px;padding:15px 0 10px 15px;background:#fff;border:1px solid #e3e3e3;}
.wy-weitu-main-list li.hot h2{font-size:20px;}
.wy-weitu-main-list li.hot i{display:inline-block;width:21px;height:27px;margin-right:5px;background:url(img/news/wei-ico.png) no-repeat;*display:inline;zoom:1;vertical-align:middle;}

.wy-weitu-list li.hot .hot_box div{padding:0;border:none;height:auto;}
.wy-weitu-list li.hot div.hot_list_box{width:260px;margin:10px 0 0;height:440px;}
.wy-weitu-content{opacity:0;position:absolute;z-index:200;right:25px;top:50px;background:#fff;width:265px;height:440px;overflow-y:scroll;overflow-x:hidden;}
.wy-weitu-content::-webkit-scrollbar{width:5px;height:5px;background:#f8f8f8;}
.wy-weitu-content::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);border-radius:10px;background:#fff;}
.wy-weitu-content::-webkit-scrollbar-thumb{border-radius:10px;-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);background:#ccc;}
.wy-weitu-content.show{opacity:1;}

.hot_list_ul,.hot_list_ul li{list-style:none;padding:0;margin:0;}
.hot_list_b_li{width:70px;padding:2px;margin:2px;height:auto;float:left;font-size:0;border:1px solid #e3e3e3;}
.hot_list_b_li img{width:100%;}
.hot_list_b_li:hover{border:1px solid #db214c;}

.wy-channel dl{height:35px;}
.wy-channel dt{width:52px;float:left;}
.wy-channel dt a{width:50px;height:22px;line-height:22px;border:1px solid #db214c;display:block;text-align:center;color:#db214c;}
.wy-channel dd{float:left;margin-bottom:10px;padding-left:15px;}
.wy-channel dd a{margin-right:15px;font-size:16px;}
.wy-channel dd.one a{margin-right:22px;}

.wy-wei{position:relative;height:480px;}
.wy-wei-hot2,.wy-wei-hot3{margin-top:10px;}
.wy-wei-hot2 h2,.wy-wei-hot3 h2{font-size:20px;float:left;}
.wy-wei-hot2 i,.wy-wei-hot3 i{display:inline-block;width:21px;height:27px;margin-right:5px;background:url(img/news/wei-ico.png) no-repeat;*display:inline;zoom:1;vertical-align:middle;}

.wy-wei-hot2 .more,.wy-wei-hot3 .more{float:right;height:30px;line-height:30px;padding:0 17px 0 7px;color:#999;background:#fff url(img/base/more.gif) 33px 7px no-repeat;cursor:pointer;}
.wy-wei-hot2 .more:hover,.wy-wei-hot3 .more:hover{color:#db214c;background:#fff url(img/base/more2.gif) 33px 7px no-repeat;}

.wy-weitu-list2{width:350px;margin:0 auto;}
.wy-weitu-main-list2 ul{float:left;position:relative;width:350px;}
.wy-weitu-main-list2 li{float:left;position:relative;width:340px;display:inline;margin:0 10px 15px 0;padding-bottom:0;border-bottom:solid 2px #dadada;cursor:pointer;}
.wy-weitu-main-list2 li:hover{box-shadow:0 0 15px rgba(0,0,0,0.5),0 0 5px rgba(200,200,200,0.5);z-index:12;transition-duration:.5s;-webkit-transition-duration:.5s;}
.wy-weitu-main-list2 li .listbox{float:left;width:340px;background:#fff;border:1px solid #e3e3e3;}
.wy-weitu-main-list2 li .listbox p.pic{float:left;margin:8px;display:inline;}
.wy-weitu-main-list2 li .listbox p.pic img{width:274px;display:block;}
.wy-weitu-main-list2 li .listbox em{font-size:16px;height:35px;line-height:35px;background:#fff;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.wy-weitu-main-list2 li .listbox a{display:block;}
.wy-weitu-main-list2 li .listbox i{display:block;position:absolute;left:9px;bottom:55px;padding:5px 10px;background:#db214c;color:#fff;}
.wy-weitu-main-list2 li.hot div{height:480px;padding:15px 0 10px 15px;background:#fff;border:1px solid #e3e3e3;}
.wy-weitu-main-list2 li.hot h2{font-size:20px;}
.wy-weitu-main-list2 li.hot i{display:inline-block;width:21px;height:27px;margin-right:5px;background:url(img/news/wei-ico.png) no-repeat;*display:inline;zoom:1;vertical-align:middle;}

.wy-weitu-list2 li.hot .hot_box div{padding:0;border:none;height:auto;}
.wy-weitu-list2 li.hot div.hot_list_box{width:350px;margin:10px 0 0;height:430px;}
.wy-weitu-content2{position:absolute;z-index:200;right:0;top:40px;background:#fff;width:350px;height:430px;overflow-y:scroll;overflow-x:hidden;}
.wy-weitu-content2::-webkit-scrollbar{width:5px;height:5px;background:#f8f8f8;}
.wy-weitu-content2::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);border-radius:10px;background:#fff;}
.wy-weitu-content2::-webkit-scrollbar-thumb{border-radius:10px;-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);background:#ccc;}
.wy-weitu-content2.show{opacity:1;}

.hot_list_ul2,.hot_list_ul2 li{list-style:none;padding:0;margin:0;}
.hot_list_b_li2{width:100px;padding:2px;margin:2px;height:auto;float:left;font-size:0;border:1px solid #e3e3e3;}
.hot_list_b_li2 img{width:100%;}
.hot_list_b_li2:hover{border:1px solid #db214c;}

.wy-weitu-list3{width:260px;margin:0 auto;}
.wy-weitu-main-list3 ul{float:left;position:relative;width:260px;}
.wy-weitu-main-list3 li{float:left;position:relative;width:250px;display:inline;margin:0 10px 15px 0;padding-bottom:0;border-bottom:solid 2px #dadada;cursor:pointer;}
.wy-weitu-main-list3 li:hover{box-shadow:0 0 15px rgba(0,0,0,0.5),0 0 5px rgba(200,200,200,0.5);z-index:12;transition-duration:.5s;-webkit-transition-duration:.5s;}
.wy-weitu-main-list3 li .listbox{float:left;width:250px;background:#fff;border:1px solid #e3e3e3;}
.wy-weitu-main-list3 li .listbox p.pic{float:left;margin:8px;display:inline;}
.wy-weitu-main-list3 li .listbox p.pic img{width:80px;display:block;}
.wy-weitu-main-list3 li .listbox em{font-size:16px;height:35px;line-height:35px;background:#fff;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.wy-weitu-main-list3 li .listbox a{display:block;}
.wy-weitu-main-list3 li .listbox i{display:block;position:absolute;left:9px;bottom:55px;padding:5px 10px;background:#db214c;color:#fff;}
.wy-weitu-main-list3 li.hot div{height:480px;padding:15px 0 10px 15px;background:#fff;border:1px solid #e3e3e3;}
.wy-weitu-main-list3 li.hot h2{font-size:20px;}
.wy-weitu-main-list3 li.hot i{display:inline-block;width:21px;height:27px;margin-right:5px;background:url(img/news/wei-ico.png) no-repeat;*display:inline;zoom:1;vertical-align:middle;}

.wy-weitu-list3 li.hot .hot_box div{padding:0;border:none;height:auto;}
.wy-weitu-list3 li.hot div.hot_list_box{width:260px;margin:10px 0 0;height:430px;}
.wy-weitu-content3{position:absolute;z-index:200;right:0;top:40px;background:#fff;width:260px;height:430px;overflow-y:scroll;overflow-x:hidden;}
.wy-weitu-content3::-webkit-scrollbar{width:5px;height:5px;background:#f8f8f8;}
.wy-weitu-content3::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);border-radius:10px;background:#fff;}
.wy-weitu-content3::-webkit-scrollbar-thumb{border-radius:10px;-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);background:#ccc;}
.wy-weitu-content3.show{opacity:1;}

.hot_list_ul3,.hot_list_ul3 li{list-style:none;padding:0;margin:0;}
.hot_list_b_li3{width:75px;padding:2px;margin:2px;height:auto;float:left;font-size:0;border:1px solid #e3e3e3;}
.hot_list_b_li3 img{width:100%;}
.hot_list_b_li3:hover{border:1px solid #db214c;}

.wy-right-bar{position:fixed;right:10px;bottom:20px;width:48px;height:99px;background:url(img/news/right-bar.gif) no-repeat;}
.wy-right-bar .topbtn,.wy-right-bar .ewm{width:48px;height:48px;display:block;z-index:999;cursor:pointer;}
.wy-right-bar dl{position:relative;}
.wy-right-bar .ewm:hover .wy-right-ewm{display:block;}
.wy-right-bar .ewm .wy-right-ewm{display:none;width:120px;height:160px;border:1px solid #e3e3e3;position:absolute;top:-62px;right:50px;text-align:center;color:#666;}
.wy-right-bar .ewm .wy-right-ewm img{width:100px;height:100px;display:block;overflow:hidden;margin:10px auto;}

.wy-news-rank2{margin-top:15px;border:1px solid #e3e3e3;}
.wy-news-rank2 dd{padding:10px 0;}
.wy-news-rank2 dt a.on,.wy-news-rank2 dt a:hover{background:#fff;border-top:5px solid #c30;text-decoration:none;}
.wy-news-rank2 dt a{width:50%;height:45px;font-size:20px;line-height:45px;text-align:center;border-top:5px solid #f5f5f5;background:#f5f5f5;display:block;float:left;}
.wy-news-rank2 li{width:90%;float:left;padding-left:5%;font-size:16px;height:35px;line-height:35px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.wy-news-rank2 i{font:bold 12px/15px "Arial";margin-right:10px;text-align:center;background:#999;color:#fff;border-radius:3px;width:20px;height:15px;display:inline-block;zoom:-1;}
.wy-news-rank2 i.red{background:#db214c;}
.wy-news-rank2 i.orange{background:#f90;}

.wy-topic2{float:left;position:relative;}
.wy-topic2>div.news_tt{height:36px;}
.wy-topic2 .bd{float:left;width:260px;}
.wy-topic2 .bd li{position:relative;width:260px;}
.wy-topic2 .bd li img{width:260px;height:130px;vertical-align:top;}
.wy-topic2 .bd li a{width:260px;cursor:pointer;display:block;}
.wy-topic2 .bd li p{height:36px;padding:0 10px;line-height:30px;font-size:14px;text-align:center;border:1px solid #e3e3e3;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}

.wy-topic2 .hd{position:absolute;right:0;top:12px;z-index:99;}
.wy-topic2 .hd ul{display:inline-block;*zoom:1;*display:inline;}
.wy-topic2 .hd li{float:left;text-indent:-9999px;border:1px solid #d7d7d7;width:10px;height:10px;border-radius:10px;background:#fff;margin:0 3px;}
.wy-topic2 .hd li.on{background:#db214c;border-color:#db214c;cursor:pointer;}

.news_tt{width:100%;height:36px;border-top:1px solid #f2f2f2;}
.news_tt h2{float:left;border-top:1px solid #db214c;margin-top:-1px;font:bold 16px/36px "microsoft yahei";}

.wy-news-list2 .hd{width:608px;height:58px;border-top:2px solid #db214c;background:#fff;}
.wy-news-list2 .hd ul{height:50px;background:#f7f9fa;box-shadow:0 2px 3px #ddd;}
.wy-news-list2 .hd li a{font-size:16px;color:#000;display:block;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;overflow:hidden;}
.wy-news-list2 .hd li{width:100px;height:50px;line-height:50px;background:#f7f9fa;text-align:center;float:left;margin-right:2px;}
.wy-news-list2 .hd li:hover,.wy-news-list2 .hd li.on{background:#db214c;}
.wy-news-list2 .hd li:hover a,.wy-news-list2 .hd li.on a{color:#fff;font-weight:bold;text-decoration:none;}

.wy-news-list2 .bd{width:100%;margin-top:15px;border-top:1px solid #e3e3e3;}
.wy-news-list2 .bd li{float:left;position:relative;width:100%;padding:15px 0;border-bottom:1px solid #e3e3e3;}
.wy-news-list2 .bd li:hover{background:#f8f8f8;}
.wy-news-list2 .bd li img{float:left;width:160px;height:120px;margin-right:15px;}
.wy-news-list2 .bd li h3,.wy-news li p{display:inline-block;width:430px;*display:inline;zoom:1;}
.wy-news-list2 .bd li h3{margin-top:2px;font:normal 18px/24px "microsoft yahei";}
.wy-news-list2 .bd li p.leadtxt{padding:5px 0 10px;color:#999;font:normal 14px/24px "microsoft yahei";}
.wy-news-list2 .bd li s{display:inline-block;float:left;max-width:56px;line-height:24px;padding-right:10px;color:#666;vertical-align:middle;*display:inline;zoom:1;}
.wy-news-list2 .bd li.all,.wy-news-list2 .bd li.all h3,.wy-news-list2 .bd li.all p{width:100%;}
.wy-news-list2 .bd li.all s{max-width:106px;}
.wy-news-list2 .bd li p em{float:left;display:inline-block;margin-right:10px;padding:0 10px;color:#fea5a5;font:normal 12px/22px "microsoft yahei";text-align:center;border:1px solid #e3e3e3;border-radius:3px;vertical-align:middle;white-space:nowrap;*display:inline;zoom:1;}
.wy-news-list2 .bd li p span{float:right;padding:0 5px;line-height:24px;color:#999;vertical-align:middle;}
.wy-load a{display:inline-block;width:606px;margin-top:20px;font:normal 20px/50px "microsoft yahei";text-align:center;color:#333;border:1px solid #e3e3e3;border-radius:3px;}
.wy-load a:hover{color:#db214c;border:1px solid #db214c;}

/* 新闻眼侧边频道导航栏 */
.side_left{width:160px;float:right;margin-top:5px;}
.slidefixed{position:fixed;z-index:999;top:25px;left:50%;margin-left:-500px;}
.side_left li{float:left;width:100%;font:normal 20px/36px "microsoft yahei";text-align:right;margin:5px 0;}
.side_left li i{display:inline-block;background:url(img/news/ico-news.png) no-repeat;*display:inline;zoom:1;width:30px;height:30px;margin:-3px 5px 0 0;vertical-align:middle;}
.side_left li:hover,.side_left li.on{background:#ec3a3e;color:#fff;font-weight:bold;text-align:left;border-radius:50px 0 0 50px;text-indent:15px;cursor:pointer;}
.side_left li a{float:left;width:100%;}
.side_left li:hover a,.side_left li.on a{color:#fff;}
.side_left li:hover i,.side_left li.on i{margin-right:10px;}
.side_left li i.tj{background-position:-30px -368px;}
.side_left li i.rd{background-position:0 -398px;}
.side_left li i.yc{background-position:0 -428px;}
.side_left li i.pp{background-position:0 -458px;}
.side_left li i.rw{background-position:0 -488px;}
.side_left li i.kx{background-position:-32px -700px;}
.side_left li i.zh{background-position:0 -518px;}
.side_left li i.zt{background-position:-32px -653px;}
.side_left li:hover i.rd{background-position:-30px -398px;}
.side_left li:hover i.yc{background-position:-30px -428px;}
.side_left li:hover i.pp{background-position:-30px -458px;}
.side_left li:hover i.rw{background-position:-30px -488px;}
.side_left li:hover i.kx{background-position:-32px -730px;}
.side_left li:hover i.zh{background-position:-30px -518px;}
.side_left li:hover i.zt{background-position:-32px -678px;}

.wy-exhb-right .slide{position:relative;width:100%;overflow:hidden;}
.wy-exhb-right .hd{padding-top:10px;text-align:center;}
.wy-exhb-right .hd li{display:inline-block;width:10px;height:10px;margin:1px;background:#fff;border:1px solid #e3e3e3;border-radius:10px;cursor:pointer;*display:inline;zoom:1;}
.wy-exhb-right .hd li.on{width:32px;height:10px;background:#db214c;border:1px solid #db214c;}
.wy-exhb-right .bd img{display:block;width:350px;height:263px;overflow:hidden;}
.wy-exhb-right .bd h4{padding:5px 10px;line-height:30px;font-size:16px;height:30px;text-align:center;border:1px solid #e3e3e3;border-top:none;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}

.wy-brand-hot li{float:left;width:46%;margin:0 2%;line-height:35px;font-size:16px;}

#comment_main{padding:0 0px 0 0}
.head-txt {padding: 0px 10px 0px 10px;line-height: 45px;height: 45px;border-top: #e5e5e5 1px solid;border-bottom: #e5e5e5 1px solid;margin-bottom:20px;clear:both;background: #fafafa;}
.head-txt strong {font-size:18px;}
.head-txt span {float:right;font-size:14px;color:#999999;}
.head-txt i {font-style:normal;font-weight:bold;/* padding:0 2px; */font-family:simsun;height: 18px;margin-top: 14px;}
.head-sub {padding: 0px 6px 0px 6px;height:44px;line-height:44px;border: 1px solid #e5e5e5;border-bottom:#DDDDDD 1px solid;clear:both;background-color: #fafafa;}
.head-sub strong {font-size:16px;}
.head-sub span {float:right;font-size:14px;color:#999999;}
.head-sub i {font-style:normal;font-weight:bold;padding:0 2px;font-family:simsun;}
.head-sub i.st_icon{margin-top:14px;font-weight:500;padding:0;}