.wy-brand-ico i{display:inline-block;*display:inline;zoom:1;}
.wy-brand-ico i{width:25px;height:25px;margin-left:5px;background:url(img/brand/jicons.png) no-repeat;vertical-align:middle;}
.wy-brand-ico i.i1{width:84px;height:84px;background-position:0 0;}
.wy-brand-ico i.i2{width:84px;height:84px;background-position:0 -86px;}
.wy-brand-ico i.i3{width:22px;height:30px;background-position:0 -175px;}
.wy-brand-ico i.i4{background-position:-25px -175px;}
.wy-brand-ico i.i5{background-position:-50px -175px;}
.wy-brand-ico i.i6{width:30px;height:20px;background-position:0 -225px;}
.wy-brand-ico i.i7{background-position:0 -250px;}
.wy-brand-ico i.i10{background-position:-25px -250px;}
.wy-brand-ico i.i11{background-position:-50px -250px;}
.wy-brand-ico i.i14{background-position:-25px -300px;}
.wy-brand-ico i.i12{background-position:-25px -275px;}
.wy-brand-ico i.i13{background-position:-50px -275px;}
.wy-brand-ico i.i8{background-position:0 -275px;}
.wy-brand-ico i.i9{background-position:0 -300px;}
.wy-brand-ico i.i7:hover{background-position:-27px -302px;}
.wy-brand-ico i.i8:hover{background-position:-52px -302px;}
.wy-brand-ico i.i801{background-position:0 -325px;}
.wy-brand-ico i.i801:hover{background-position:-25px -325px;}

.wy-brand-top10 .hd,.wy-brand-top10 .hd2{position:relative;height:70px;margin-bottom:20px;text-align:center;overflow:hidden;}
.wy-brand-top10 .hd{background:url(img/brand/tt-top10.gif) no-repeat;}
.wy-brand-top10 .hd2{background:url(img/brand/tt-top10.gif) 0 -70px no-repeat;}
.wy-brand-top10 .hd span,.wy-brand-top10 .hd2 span{display:block;position:absolute;top:45px;right:0;width:100%;font-size:12px;text-align:right;}
.wy-brand-top10 .hd h2,.wy-brand-top10 .hd2 h2{font-size:0;}

.wy-brand-top10 .bd{width:1250px;margin:0 auto 10px;overflow:hidden;}
.wy-brand-top10 .bd dl{float:left;width:292px;margin-right:10.5px;}
.wy-brand-top10 .bd dt{width:292px;height:40px;text-align:center;}
.wy-brand-top10 .bd dt h3,.wy-brand-top10 .bd dt h3 a{font:bold 16px/40px "microsoft yahei";color:#fff;}
.wy-brand-top10 .bd dt.tt1{background:url(img/brand/brand-tit.png) no-repeat;}
.wy-brand-top10 .bd dt.tt2{background:url(img/brand/brand-tit.png) 0 -40px no-repeat;}
.wy-brand-top10 .bd dt.tt3{background:url(img/brand/brand-tit.png) 0 -80px no-repeat;}
.wy-brand-top10 .bd dt.tt4{background:url(img/brand/brand-tit.png) 0 -120px no-repeat;}
.wy-brand-top10 .bd dd{width:270px;padding:10px;background:#f8f8f8;border:1px solid #e3e3e3;}
.wy-brand-top10 .bd li{float:left;width:125px;margin:5px 3px;line-height:0;border:1px solid #e3e3e3;overflow:hidden;}
.wy-brand-top10 .bd li:hover{box-shadow:0 0 10px #d3d3d3;border:1px solid #ffdb95;border:1px solid hsl(30,70%,74%);}
.wy-brand-top10 .bd:hover dd{box-shadow:0 0 10px #d3d3d3;background:#fffce4;}
.wy-brand-top10 .bd li img{display:block;width:125px;height:45px;}
.wy-brand-top10 .bd li h4{line-height:28px;text-align:center;border-top:1px solid #e3e3e3;background:#fff;font-weight:normal;}
.wy-brand-top10 .bd li h4 a{display:block;}

.wy-brand-top10 .hover li:hover>a{color:#db214c;}
.wy-brand-top10 .hover li>.tmc,.wy-brand-top10 .hover li>.db{display:none;}
.wy-brand-top10 .hover li:hover>.db{display:block;}
.wy-brand-top10 .hover li:hover{position:relative;}
.wy-brand-top10 .hover li:hover .tmc{display:block;position:absolute;left:0;top:0;z-index:9;width:100%;height:45px;line-height:45px;text-align:center;background:url(img/base/trasbg.png);}
.wy-brand-top10 .hover a.buy,.wy-brand-top10 .hover a.join{margin:0 2px;padding:12px;font-size:12px;color:#fff;border:1px solid #fff;border-radius:5px;display:inline-block !important;line-height:0;}
.wy-brand-top10 .hover a.buy{background:#db214c;}
.wy-brand-top10 .hover a.join{background:#05458c;}

.wy-brand-top10 .bd2 li:hover>a{color:#db214c;}
.wy-brand-top10 .bd2 li>.tmc{display:none;}
.wy-brand-top10 .bd2 li:hover{position:relative;}
.wy-brand-top10 .bd2 li:hover .tmc{display:block;position:absolute;left:0;top:0;z-index:9;width:100%;height:55px;line-height:55px;text-align:center;background:url(img/base/trasbg.png);}
.wy-brand-top10 .bd2 a.buy,.wy-brand-top10 .bd2 a.join{margin:0 2px;padding:12px;font-size:12px;color:#fff;border:1px solid #fff;border-radius:5px;display:inline-block !important;line-height:0;}
.wy-brand-top10 .bd2 a.buy{background:#db214c;}
.wy-brand-top10 .bd2 a.join{background:#05458c;}

.wy-brand-top10 .bd2{height:185px;margin-top:-1px;padding:20px 20px 20px 30px;background:#f8f8f8;border:1px solid #e3e3e3;clear:both;}
.wy-brand-top10 .bd2:hover{background:#fffce4;box-shadow:0 0 15px #d3d3d3;}
.wy-brand-top10 .bd2 .bd-l{float:left;width:299px;height:140px;padding-top:45px;text-align:center;border-right:1px solid #e3e3e3;}
.wy-brand-top10 .bd2 .bd-l i{float:left;}
.wy-brand-top10 .bd2 .bd-l div{float:left;width:210px;padding-top:10px;}
.wy-brand-top10 .bd2 .bd-l h2,.wy-brand-top10 .bd2 .bd-l h2 a{line-height:30px;font-size:20px;color:#666;}
.wy-brand-top10 .bd2 .bd-l h3,.wy-brand-top10 .bd2 .bd-l h3 a{font-size:24px;font-weight:bold;color:#db214c;}
.wy-brand-top10 .bd2 ul{float:left;width:823px;padding-left:25px;overflow:hidden;}
.wy-brand-top10 .bd2 li{float:left;margin:0 9px 18px;width:144px;line-height:0;border:1px solid #e3e3e3;overflow:hidden;}
.wy-brand-top10 .bd2 li:hover{box-shadow:0 0 10px #d3d3d3;}
.wy-brand-top10 .bd2 li a{display:block;}
.wy-brand-top10 .bd2 li img{display:block;width:144px;height:52px;}
.wy-brand-top10 .bd2 li h4{line-height:28px;text-align:center;border-top:1px solid #e3e3e3;background:#fff;font-weight:normal;}
.wy-brand-top10 p.explain{margin-top:-1px;line-height:35px;font-size:12px;text-align:center;color:#999;border:1px solid #e3e3e3;}
.wy-brand-top10 p.explain a{color:#05458c;}

.wy-brand-rank{float:left;width:407px;margin-right:22px;}
.wy-brand-rank .bd{width:405px;font-size:14px;border:1px solid #e3e3e3;overflow:hidden;*border-bottom:none;}
.wy-brand-rank .bd a{text-decoration:none;}
.wy-brand-rank .bd dl{width:383px;padding:0 12px;border-bottom:1px solid #e3e3e3;}
.wy-brand-rank .bd dl:last-child{border-bottom:none;}
.wy-brand-rank .bd dl:hover{background:#fffce4;}
.wy-brand-rank .bd dt{height:44px;line-height:44px;vertical-align:top;}
.wy-brand-rank .bd dd{display:none;padding:13px 0;vertical-align:top;}
.wy-brand-rank .bd dl:hover dd,.wy-brand-rank .bd dl.on dd{display:block;}
.wy-brand-rank .bd dl:hover dt,.wy-brand-rank .bd dl.on dt{display:none;}
.wy-brand-rank .bd dt em{float:left;display:block;width:22px;height:28px;margin:12px 10px 0 0;font:bold 14px "Georgia";color:#db214c;text-align:center;}
.wy-brand-rank .bd dt h4{float:left;max-width:40%;font-weight:normal;}
.wy-brand-rank .bd dt span{float:right;max-width:200px;color:#999;}
.wy-brand-rank .bd dt h4,.wy-brand-rank .bd dt span{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.wy-brand-rank .bd dd em,.wy-brand-rank .bd dd img{float:left;display:block;}
.wy-brand-rank .bd dd em{width:22px;height:28px;margin:8px 10px 0 0;color:#fff;text-align:center;background:url(img/brand/jicons.png) no-repeat 0 -175px;}
.wy-brand-rank .bd dd img{width:112px;height:40px;margin-right:10px;border:1px solid #bfbfbf;}

.wy-brand-rank .bd .text{float:left;width:190px;color:#999;}
.wy-brand-rank .bd .text span{color:#db214c;}
.wy-brand-rank .bd .ico{float:right;padding-top:8px;}

.wy-brand-rank .bd i.up,.wy-brand-rank .bd i.down{display:inline-block;float:right;width:14px;height:14px;margin:15px 0 0 5px;*display:inline;zoom:1;}
.wy-brand-rank .bd i.up{background:url(img/brand/jicons.png) -29px -256px no-repeat;}
.wy-brand-rank .bd i.down{background:url(img/brand/jicons.png) -56px -256px no-repeat;}

.wy-brand-praise .bd{width:310px;height:595px;padding:4px 15px;font-size:14px;border:1px solid #e3e3e3;overflow:hidden;}
.wy-brand-praise .bd li{float:left;width:310px;padding:20px 0 10px;border-bottom:1px dashed #e3e3e3;overflow:hidden;}
.wy-brand-praise .bd li p{padding-bottom:12px;font-size:12px;text-align:justify;}
.wy-brand-praise .bd li:last-child{border-bottom:none;}
.wy-brand-praise .bd li p.pjnr{height:48px;line-height:24px;margin:10px auto;padding:0 10px;font-size:14px;overflow:hidden;}
.wy-brand-praise .bd li a{color:#05458c;}
.wy-brand-praise .bd li s,.wy-brand-praise .bd dt{color:#db214c;}
.wy-brand-praise .bd dl{font-size:12px;}
.wy-brand-praise .bd dt{float:left;width:30%;}
.wy-brand-praise .bd dd{float:right;width:70%;text-align:right;}
.wy-brand-praise .bd dd a{color:#666;}

.wy-brand-join .bd{height:243px;padding:10px;background:#f8f8f8;border:1px solid #e3e3e3;border-top:none;}
.wy-brand-join .bd li{height:35px;line-height:35px;*height:32px;*line-height:32px;}
.wy-brand-join .bd li a{font-size:14px;float:left;}
.wy-brand-join .bd li span{float:left;margin:0 5px;}

.wy-brand-attest .hd{height:40px;background:url(img/brand/xt.jpg) repeat-x;}
.wy-brand-attest .hd h2{float:left;min-width:205px;padding:0 20px 0 10px;font:normal 18px/40px "microsoft yahei";color:#fff;background:#fff url(img/brand/brand-tit.png) 0 -240px no-repeat;}
.wy-brand-attest .hd span{float:right;padding:0 15px;line-height:40px;font-size:14px;background:#fff;}
.wy-brand-attest .hd i{margin:-10px 5px 0 0;}

.wy-brand-attest .bd{padding:10px 0;border:1px solid #e3e3e3;overflow:hidden;}
.wy-brand-attest .bd ul{width:1204px;}
.wy-brand-attest .bd li{float:left;width:30%;margin:0 1.5% 5px;height:35px;line-height:35px;font-size:14px;border-bottom:1px solid #e3e3e3;}
.wy-brand-attest .bd li:hover{background:#f8f8f8;}
.wy-brand-attest .bd dt{float:left;}
.wy-brand-attest .bd dd{float:right;}

.wy-brand-hot .hd{height:40px;background:url(img/brand/xt.jpg) repeat-x;}
.wy-brand-hot .hd h2{float:left;min-width:205px;padding:0 20px 0 10px;font:normal 18px/40px "microsoft yahei";color:#fff;background:#fff url(img/brand/brand-tit.png) 0 -240px no-repeat;}
.wy-brand-hot .hd span{float:right;padding:0 15px;line-height:40px;font-size:14px;background:#fff;}
.wy-brand-hot .hd i{margin:-10px 5px 0 0;}
.wy-brand-hot .bd{height:350px;border:1px solid #e3e3e3;overflow:hidden;}
.wy-brand-hot .bd li{float:left;width:400px;height:70px;border-bottom:1px solid #e3e3e3;overflow:hidden;}
.wy-brand-hot .bd li .left{padding:0 20px;overflow:hidden;}
.wy-brand-hot .bd li .left b{float:left;line-height:70px;}
.wy-brand-hot .bd li .left span{float:right;line-height:70px;color:#999;}
.wy-brand-hot .bd li .left span em{color:#db214c;}
.wy-brand-hot .bd li:hover .left{display:none;}
.wy-brand-hot .bd li .right{display:none;padding-left:20px;}
.wy-brand-hot .bd li:hover .right{display:block;border-left:1px solid #e3e3e3;border-right:1px solid #e3e3e3;}
.wy-brand-hot .bd .right{padding:14px 15px 14px 0;overflow:hidden;}
.wy-brand-hot .bd .right img{float:left;display:block;width:112px;height:40px;margin-right:10px;border:1px solid #bfbfbf;}
.wy-brand-hot .bd .right span{float:right;width:25px;height:40px;}
.wy-brand-hot .bd .right div{color:#999;}
.wy-brand-hot .bd .right b{height:24px;line-height:24px;color:#333;}
.wy-brand-hot .bd .right u{display:block;width:180px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;color:#db214c;}
.wy-brand-hot .bd .right .i7,.wy-brand-hot .bd .right .i801{display:block;margin-top:-2px;}
.wy-brand-hot .bd .right .i801{margin-left:6px;}

.wy-brand-search{width:1190px;height:35px;margin:20px auto 0;background:#fff;border:1px solid #e3e3e3;border-left:none;}
.wy-brand-search li{float:left;height:35px;line-height:35px;text-align:center;background:#fff;border-left:1px solid #e3e3e3;}
.wy-brand-search li a{display:block;padding:0 17px;font-weight:bold;color:#999;}
.wy-brand-search li a:hover,.wy-brand-search li a.on{color:#db214c;}

.wy-praise-rec .hd{position:relative;width:1200px;margin:25px auto;border-top:1px solid #e3e3e3;}
.wy-praise-rec .hd h3{position:absolute;top:-15px;left:44%;padding:0 15px;font-size:20px;color:#010101;background:#fff;}
.wy-praise-rec .bd{width:1160px;margin:20px auto;padding:20px 20px 10px;background:#f8f8f8;}
.wy-praise-rec .bd ul{width:1220px;}
.wy-praise-rec .bd li{float:left;width:186px;height:80px;margin-right:10px;text-align:center;background:url(../image/kbpp_bg.gif) center bottom no-repeat;}
.wy-praise-rec .bd a{display:block;position:relative;width:186px;height:66px;background:#fff;}
.wy-praise-rec .bd img{display:block;width:186px;height:66px;}
.wy-praise-rec .bd span{display:none;background:#000;filter:alpha(opacity=80);-moz-opacity:0.8;opacity:0.8;}
.wy-praise-rec .bd em{display:block;width:60%;height:24px;margin:5px auto 0;line-height:24px;font-size:18px;border:1px solid #fff;border-radius:10px;}
.wy-praise-rec .bd a:hover{text-decoration:none;cursor:pointer;}
.wy-praise-rec .bd a:hover span{display:block;position:absolute;top:0;left:0;width:186px;height:50px;padding-top:16px;color:#fff;}

.wy-mn{float:left;width:836px;}
.wy-sd{float:right;width:342px;}

.wy-praise-list{border:1px solid #e3e3e3;}
.wy-praise-list .hd{height:40px;line-height:40px;padding-left:20px;font-size:16px;background:#f8f8f8;border-bottom:1px solid #e3e3e3;}
.wy-praise-list .hd a{float:left;width:105px;height:40px;text-align:center;border-left:1px solid #e3e3e3;}
.wy-praise-list .hd a:last-child{border-right:1px solid #e3e3e3;}
.wy-praise-list .hd a:hover,.wy-praise-list .hd a.on{font-weight:bold;text-decoration:none;color:#333;background:#fff;border-bottom:1px solid #fff;}
.wy-praise-list .bd a{margin:0 5px;color:#05458c;}
.wy-praise-list .bd em{margin-right:0;color:#db214c;}
.wy-praise-list .bd u{margin:0 10px 0 0;}
.wy-praise-list .bd li{display:block;padding:20px;border-left:2px solid #fff;border-bottom:1px solid #e3e3e3;clear:both;}
.wy-praise-list .bd li:hover{background:#fffce4;border-left:2px solid #db214c;}
.wy-praise-list .bd li img{float:left;display:block;width:144px;height:52px;margin-right:20px;border:1px solid #e3e3e3;}
.wy-praise-list .bd li p{width:600px;line-height:26px;font-size:14px;word-wrap:break-word;}
.wy-praise-list .bd li .visit,.wy-praise-list .bd li .review{display:none;float:right;z-index:99999;width:56px;height:26px;margin:12px 5px 0;line-height:26px;font-size:14px;color:#fff;text-align:center;background:#db214c;border:2px solid #db214c;border-radius:5px;}
.wy-praise-list .bd li .review{background:#05458c;border:2px solid #05458c;}
.wy-praise-list .bd li:hover .visit,.wy-praise-list .bd li:hover .review{display:block;text-decoration:none;}
.wy-praise-list .bd li .visit:hover{color:#db214c;background:#fff;border:2px solid #db214c;}
.wy-praise-list .bd li .review:hover{color:#05458c;background:#fff;border:2px solid #05458c;}

.wy-state .bd{background:#f8f8f8;padding:20px 20px 15px;}
.wy-state .bd p{line-height:24px;margin-bottom:10px;font-size:14px;text-indent:2em;}
.wy-state .bd a{display:block;height:42px;margin:20px auto 10px;font:bold 20px/42px "microsoft yahei";color:#fff;text-align:center;background:#db214c;border:2px solid #db214c;border-radius:5px;}
.wy-state .bd a:hover{color:#db214c;background:#fff;border:2px solid #db214c;}

.wy-brand-rank2 .bd{padding:0 10px;}
.wy-brand-rank2 .bd li{float:left;width:50%;height:35px;line-height:35px;font-size:16px;}
.wy-brand-rank2 .bd i{margin:0 10px 0 0;font:bold 14px/35px "Georgia";text-align:center;}
.wy-brand-rank2 .bd a{vertical-align:middle;}
.wy-brand-rank2 .bd i.red{color:#db214c;}

.wy-praise-all2 .bd{width:1168px;height:400px;margin:0 auto;padding:10px 15px;border:1px solid #e3e3e3;overflow:hidden;}
.wy-praise-all2 .bd ul{width:1250px;overflow:hidden;}
.wy-praise-all2 .bd li{float:left;width:152px;margin:9px 15px 9px 0;line-height:0;border:1px solid #e3e3e3;overflow:hidden;}
.wy-praise-all2 .bd li:hover{box-shadow:0 0 10px #d3d3d3;}
.wy-praise-all2 .bd li a{display:block;background:#f2f2f2;cursor:pointer;}
.wy-praise-all2 .bd li img{display:block;width:152px;height:52px;}
.wy-praise-all2 .bd li p{display:block;height:28px;line-height:28px;text-align:center;border-top:1px solid #e3e3e3;}

.wy-praise-all2 .soso,.wy-praise-all2 .ppk{float:right;}
.wy-praise-all2 .soso input{float:left;width:260px;height:28px;line-height:28px;border:1px solid #e3e3e3;}
.wy-praise-all2 .soso button,.wy-praise-all2 .ppk{width:80px;height:30px;line-height:30px;text-align:center;color:#fff;}
.wy-praise-all2 .soso button{float:left;background:#db214c;border:0 none;cursor:pointer;}
.wy-praise-all2 .ppk{margin-left:10px;background:#05458c;}

.wy-brand-list{border-bottom:1px solid #e4e4e4;}
.wy-brand-list li{position:relative;height:158px;padding:15px;border:1px solid #e3e3e3;border-bottom:none;overflow:hidden;}
.wy-brand-list li:hover{z-index:99;background:#f8f8f8;border-left:2px solid #db214c;}
.wy-brand-list img{float:left;display:block;width:224px;height:80px;margin:40px 20px 0 0;}
.wy-brand-list .info{float:left;width:550px;padding-top:5px;}
.wy-brand-list .info h3{float:left;display:block;max-width:170px;font:bold 20px/24px "microsoft yahei";vertical-align:top;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.wy-brand-list .info p{height:40px;line-height:40px;font-size:14px;color:#333;}
.wy-brand-list .info .vip{float:left;display:block;width:67px;height:20px;margin:3px 0 0 10px;padding-right:5px;font:14px/19px "microsoft yahei";text-align:right;color:#db214c;background:url(img/brand/jicons.png) 0 -360px no-repeat;}
.wy-brand-list .info .intro{height:48px;line-height:24px;color:#999;overflow:hidden;}
.wy-brand-list .info ul{margin-top:15px;}
.wy-brand-list .info li{float:left;height:26px;padding:0;border:none;}
.wy-brand-list .info li a{display:block;margin-right:10px;padding:2px 10px;font-size:14px;color:#666;border:1px solid #e3e3e3;}
.wy-brand-list .info li a:hover{color:#db214c;border:1px solid #db214c;}
.wy-brand-list .repu{position:absolute;top:25px;right:25px;font-size:14px;color:#db214c;}
.wy-brand-list .repu i{display:inline-block;width:16px;height:16px;margin:-6px 5px 0 0;background:url(img/brand/jicons.png) -35px -225px no-repeat;vertical-align:middle;*margin-top:-2px;*display:inline;zoom:1;}

.wy-attest-list{margin-top:20px;border:1px solid #e3e3e3;}
.wy-attest-list .hd{height:40px;line-height:40px;padding-left:20px;font-size:16px;background:#f8f8f8;border-bottom:1px solid #e3e3e3;}
.wy-attest-list .hd a{float:left;width:105px;height:40px;text-align:center;border-left:1px solid #e3e3e3;}
.wy-attest-list .hd a:last-child{border-right:1px solid #e3e3e3;}
.wy-attest-list .hd a:hover,.wy-attest-list .hd a.on{font-weight:bold;text-decoration:none;color:#333;background:#fff;border-bottom:1px solid #fff;}

.wy-attest-list .bd li{position:relative;padding:15px;border-bottom:1px solid #e3e3e3;overflow:hidden;}
.wy-attest-list .bd li:hover{z-index:99;background:#f8f8f8;border-left:2px solid #db214c;}
.wy-attest-list .bd img{float:left;display:block;width:224px;height:80px;margin:0 20px 0 0;}
.wy-attest-list .bd .info{float:left;width:550px;padding-top:10px;}
.wy-attest-list .bd .info h3 a{float:left;display:block;max-width:240px;margin-right:15px;font:bold 20px/24px "microsoft yahei";vertical-align:top;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.wy-attest-list .bd .info a{line-height:24px;font-size:14px;}
.wy-attest-list .bd .info p{height:40px;line-height:40px;font-size:14px;color:#333;}
.wy-attest-list .bd .info ul{margin-top:15px;}
.wy-attest-list .bd .info .intro{height:48px;line-height:24px;overflow:hidden;color:#999;}
.wy-attest-list .bd .info li{float:left;height:26px;padding:0;border:none;}
.wy-attest-list .bd .info li a{display:inline-block;max-width:140px;height:24px;line-height:24px;margin-right:10px;padding:0 5px;font-size:14px;color:#666;border:1px solid #e3e3e3;*display:inline;zoom:1;}
.wy-attest-list .bd .info li a:hover{color:#db214c;border:1px solid #db214c;}
.wy-attest-list .bd .repu{position:absolute;top:45px;right:20px;font-size:14px;color:#05458c;}
.wy-attest-list .bd .repu i{display:inline-block;width:18px;height:22px;margin:-4px 5px 0 0;background:url(img/brand/jicons.png) -4px -302px no-repeat;vertical-align:middle;*display:inline;zoom:1;}
.wy-attest-list .bd .vip{position:absolute;top:45px;right:20px;font-size:14px;color:#db214c;width:80px;height:40px;line-height:40px;text-indent:32px;background:url(img/brand/jicons.png) 0 -350px no-repeat;vertical-align:middle;}

.wy-attest-list .bd li .star{position:absolute;top:45px;right:20px;font-size:14px;color:#05458c;}
.wy-attest-list .bd li:hover .star{display:none;}
.star5,.star4,.star3,.star2,.star1{float:left;display:block;width:80px;height:13px;margin:5px auto 0 5px;background:url(img/base/sp.png) 0 -300px no-repeat;}
.star4{width:65px;}.star3{width:48px;}.star2{width:31px;}.star1{width:16px;}

.wy-attest-list .bd li .join{display:none;width:92px;height:32px;line-height:32px;font-size:14px;text-align:center;background:#db214c;border-radius:5px;}
.wy-attest-list .bd li:hover .join{display:block;position:absolute;top:40px;right:15px;z-index:99999;color:#fff;border:1px solid #db214c;}
.wy-attest-list .bd li:hover .join:hover{color:#db214c;background:#fff;border:1px solid #db214c;}

.wy-brand-select{width:1158px;margin:0 auto;padding:0 20px;border:1px solid #e3e3e3;}
.wy-brand-select dl{margin-top:-1px;padding:20px 0;border-top:1px solid #e3e3e3;}
.wy-brand-select dt{float:left;width:100px;line-height:24px;font-size:16px;text-align:center;color:#999;}
.wy-brand-select dd{float:left;width:1058px;font-size:14px;}
.wy-brand-select dd a{display:inline-block;line-height:24px;margin:0 5px;padding:0 5px;*display:inline;zoom:1;}
.wy-brand-select dd a.on{color:#db214c;border:1px dashed #db214c;}

.wy-attention{width:1158px;padding:20px;border:1px solid #e3e3e3;}
.wy-attention li{float:left;width:20%;text-indent:10px;}
.wy-attention li:hover{position:relative;}
.wy-attention li .name{line-height:30px;font-size:14px;}
.wy-attention li .name i{margin:0 10px 0 0;font:bold 14px/30px "Georgia";text-align:center;}
.wy-attention li .hover{display:none;position:absolute;top:30px;left:0;z-index:999;width:206px;height:68px;padding:15px 10px;background:url(img/brand/ydgzb.gif) no-repeat;*top:20px;}
.wy-attention li:hover .hover{display:block;}
.wy-attention .info{display:block;width:132px;background:#fff;border:1px solid #e3e3e3;}
.wy-attention .info img{display:block;width:112px;height:40px;margin:5px auto;}
.wy-attention .info em{color:#db214c;}
.wy-attention .info span{display:block;line-height:20px;text-align:center;border-top:1px solid #e3e3e3;}
.wy-attention .visit,.wy-attention .review{display:block;width:42px;height:30px;line-height:32px;padding-left:18px;color:#fff;background:url(img/brand/ydgzb-a.gif) no-repeat;}
.wy-attention .review{margin-top:10px;background:url(img/brand/ydgzb-a.gif) 0 -40px no-repeat;}
.wy-attention .fr a:hover{text-decoration:none;color:#fff;}

.wy-guan-ban{width:100%;height:550px;margin:-20px auto 0;overflow:hidden;position:relative;}
.wy-guan-ban img{display:block;margin:0 auto;}
.wy-guan-ban .hd{position:absolute;left:42%;bottom:20px;}
.wy-guan-ban .hd li{display:inline-block;width:50px;height:5px;margin:0 5px;background:#fff;*display:inline;zoom:1;}
.wy-guan-ban .hd li.on{background:#36a913;}
.wy-guan-ban span{display:block;position:absolute;top:42%;z-index:999;width:28px;height:50px;cursor:pointer;}
.wy-guan-ban .prev{left:20px;background:url(img/base/sp-base.png) -200px 0 no-repeat;}
.wy-guan-ban .next{right:20px;background:url(img/base/sp-base.png) -230px 0 no-repeat;}

.wy-guan-search{width:1200px;margin:20px auto;font-size:14px;}
.wy-guan-search dt{float:left;width:895px;}
.wy-guan-search dd{float:right;width:280px;}
.wy-guan-search dt a{display:inline-block;margin:0 1px;padding:2px 7px;line-height:26px;background:#fff;border:1px solid #e3e3e3;*display:inline;zoom:1;}
.wy-guan-search dt a.on,.wy-guan-search dt a:hover{border:1px dashed #db214c;background:#db214c;color:#fff;}

.wy-guan-search .wy-search{width:280px;margin-top:0;}
.wy-guan-search .wy-search input{width:250px;}
.wy-guan-search .wy-search button{background:#fff url(img/base/sp-base.png) -120px 1px no-repeat;}

.wy-guan-list{width:1200px;margin:0 auto;overflow:hidden;}
.wy-guan-list ul{width:1250px;}
.wy-guan-list li{float:left;width:288px;height:218px;margin:0 5px 20px;background:#fff;border:1px solid #e3e3e3;}
.wy-guan-list dt{border-bottom:1px solid #e3e3e3;padding-bottom:20px;}
.wy-guan-list img{display:block;width:224px;height:80px;margin:18px auto;}
.wy-guan-list h3{font-size:16px;text-align:center;}
.wy-guan-list dd{text-align:center;height:58px;line-height:58px;}
.wy-guan-list dd i{height:24px;line-height:24px;margin:0 5px;padding:0 5px;color:#db214c;border:1px solid #db214c;}
.wy-guan-list dd i.blue{color:#05458c;border:1px solid #05458c;}
.wy-guan-list dd a{display:inline-block;width:112px;height:38px;line-height:38px;margin:0 5px;font-size:14px;font-weight:bold;background:#db214c;color:#fff;}
.wy-guan-list dd a.blue{background:#199ed8;}
.wy-guan-list li .link,.wy-guan-list li:hover .icon{display:none;}
.wy-guan-list li:hover .link,.wy-guan-list li .icon{display:block;}
.wy-guan-list li:hover{box-shadow:0 0 15px rgba(0,0,0,0.5),0 0 5px rgba(200,200,200,0.5);z-index:12;transition-duration:.5s;-webkit-transition-duration:.5s;}
