.wy-mn-list{float:left;position:relative;width:800px;padding:0 24px 0 0;border-right:1px solid #e3e3e3;_padding-right:22px;}
.wy-sd{float:right;width:350px;padding:0;}

.wy-com-top{position:relative;width:100%;height:350px;}
.wy-com-top .wy-wrap{z-index:99;}
.wy-com-top .filter{position:absolute;top:20px;left:0;z-index:999;width:330px;height:306px;background:#fff;}
.wy-com-top .filter dl{padding:12px 20px;border-bottom:1px solid #dfdfdf;}
.wy-com-top .filter dl.none{border-bottom:none;}
.wy-com-top .filter dt{float:left;width:230px;}
.wy-com-top .filter dd{float:right;}
.wy-com-top .filter h3{line-height:30px;font-size:18px;font-weight:bold;}
.wy-com-top .filter p{line-height:24px;}
.wy-com-top .filter a{margin-right:8px;font-size:14px;color:#666;}
.wy-com-top .filter a:hover{color:#db214c;}
.wy-com-top .filter i{display:block;width:34px;height:34px;margin-top:15px;}
.wy-com-top .filter .ico1{margin-top:35px;background:url(img/co/sp-co.png) -80px 0 no-repeat;}
.wy-com-top .filter .ico2{background:url(img/co/sp-co.png) -80px -40px no-repeat;}
.wy-com-top .filter .ico3{background:url(img/co/sp-co.png) -80px -80px no-repeat;}
.wy-com-top .banner{display:block;position:absolute;top:0;left:0;width:100%;min-width:1200px;height:350px;overflow:hidden;}
.wy-com-top .banner1,.wy-com-top .banner2,.wy-com-top .banner3{display:block;width:100%;height:350px;background:url(img/co/banner01.jpg) center top no-repeat;}
.wy-com-top .banner2{background:url(img/co/banner02.jpg) center top no-repeat;}
.wy-com-top .banner3{background:url(img/co/banner03.jpg) center top no-repeat;}
.wy-com-top .banner .hd{position:absolute;bottom:20px;left:50%;width:80px;height:20px;}
.wy-com-top .banner .hd li{width:14px;height:14px;margin:0 1px;background:#fff;border:1px solid #fff;cursor:pointer;}
.wy-com-top .banner .hd li{display:inline-block;*display:inline;zoom:1;}
.wy-com-top .banner .hd li.on{background:#db214c;}

.wy-serve-guide a{float:left;width:31%;margin:40px 0 40px 2%;_width:30%;}
.wy-serve-guide h3{font-size:24px;font-weight:normal;}
.wy-serve-guide p{display:block;width:224px;line-height:24px;font-size:16px;}
.wy-serve-guide:hover p{color:#666;}
.wy-serve-guide i{float:left;display:block;width:77px;height:77px;margin-right:15px;background:url(img/co/sp-co.png) no-repeat;}
.wy-serve-guide .ico2{background:url(img/co/sp-co.png) 0 -80px no-repeat;}
.wy-serve-guide .ico3{background:url(img/co/sp-co.png) 0 -160px no-repeat;}

.wy-co-search{width:100%;min-width:1200px;margin:0 auto 40px;padding:40px 0;background:#f7f7f7;_margin-top:40px;}
.wy-co-search dl{width:1200px;margin:0 auto;}
.wy-co-search dt{float:left;padding:10px 0;_width:950px;}
.wy-co-search dd{float:right;height:60px;padding-left:30px;border-left:1px dashed #e3e3e3;}
.wy-co-search p{font-size:16px;}
.wy-co-search p span{font-size:30px;color:#db214c;}
.wy-co-search input{float:left;width:790px;height:39px;line-height:39px;border:2px solid #e3e3e3;}
.wy-co-search input:focus{border:2px solid #ff4d4d;}
.wy-co-search button{float:left;width:118px;height:43px;text-align:center;background:url(img/co/sp-co.png) 0 -250px no-repeat;border:none;cursor:pointer;}

.wy-manu-rec{width:1200px;margin:30px auto;overflow:hidden;}
.wy-manu-rec ul{width:1220px;}
.wy-manu-rec li{float:left;position:relative;width:288px;height:216px;margin:0 15px 15px 0;}
.wy-manu-rec a,.wy-manu-rec img{display:block;color:#fff;text-align:center;cursor:pointer;}
.wy-manu-rec li .text{position:absolute;top:0;left:0;width:100%;height:100%;padding-top:70px;background:url(img/co/dqtj_bg01.png) repeat-x;_background:none;}
.wy-manu-rec li:hover .text{background:url(img/co/dqtj_bg02.png) repeat-x;}
.wy-manu-rec h4{font-size:26px;}
.wy-manu-rec em{font-size:20px;line-height:40px;}
.wy-manu-rec li i{display:none;width:100px;height:30px;line-height:30px;margin:0 auto;padding:0 15px;color:#fff;background:#db214c;border-radius:15px;}
.wy-manu-rec li:hover i{display:block;}

.wy-co-search2{width:1200px;height:139px;padding-top:15px;text-align:center;background:url(img/co/so-bg.jpg) no-repeat;}
.wy-co-search2 h3{font:bold 36px/70px "microsoft yahei";color:#db214c;}
.wy-co-search2 input{width:420px;height:34px;line-height:34px;border:2px solid #999;}
.wy-co-search2 input:focus{border:2px solid #db214c;}
.wy-co-search2 button{width:98px;height:38px;font-size:16px;font-weight:bold;color:#fff;background:#db214c;border:none;cursor:pointer;}

.wy-com-select{width:1198px;margin:20px auto;border:1px solid #e3e3e3;}
.wy-com-select dt{float:left;width:100px;line-height:22px;padding:15px 0;font-size:14px;font-weight:bold;text-indent:15px;border-top:1px dotted #e3e3e3;}
.wy-com-select dd{float:left;width:1098px;padding:15px 0;border-top:1px dotted #e3e3e3;overflow:hidden;}
.wy-com-select dd a{display:inline-block;line-height:20px;padding:0 10px;color:#666;border:1px solid #fff;border-radius:2px;white-space:nowrap;*display:inline;zoom:1;}
.wy-com-select dd.area a{margin:4px 2px;}
.wy-com-select dd a:hover{color:#db214c;border:1px solid #db214c;}
.wy-com-select dd a.on{color:#fff;background:#db214c;border:1px solid #db214c;border-radius:2px;}

.wy-com-select .result{height:20px;padding:15px 0 15px 5px;}
.wy-com-select .result a,.wy-com-select .result span{display:inline-block;*display:inline;zoom:1;}
.wy-com-select .result a{height:22px;line-height:20px;padding-left:10px;font-size:14px;}
.wy-com-select .result span{width:10px;height:12px;margin-left:5px;}
.wy-com-select .result .ico-arrow{background:url(img/co/nav_arrow.gif) center center no-repeat;vertical-align:middle;}
.wy-com-select .result .close{margin-left:10px;padding-right:5px;color:#db214c;border:1px solid #db214c;}
.wy-com-select .result .close:hover{color:#fff;background:#db214c;}
.wy-com-select .result .close span{font-size:12px;color:#db214c;vertical-align:top;}
.wy-com-select .result .close:hover span{color:#fff;}

.wy-join-info div{width:350px;height:151px;margin:10px 0 0;padding-top:20px;text-align:center;background:url(img/co/joinbg.gif) no-repeat;}
.wy-join-info p{font-size:15px;color:#fff;}
.wy-join-info strong{font-size:22px;font-weight:bold;color:#fede05;}
.wy-join-info b{font-size:20px;font-weight:normal;}
.wy-join-info div a{line-height:40px;margin-top:15px;padding:0 20px;font-size:20px;font-weight:bold;color:#fecc55;border:2px solid #fecc55;}
.wy-join-info div a{display:inline-block;*display:inline;zoom:1;}
.wy-join-info div a:hover{color:#fff;border:2px solid #fff;}
.wy-join-info dl{margin:10px auto;}
.wy-join-info dt,.wy-join-info dd{float:left;width:170px;height:35px;line-height:35px;}
.wy-join-info dd{background:#334a85;float:right;}
.wy-join-info dl a{display:block;font-size:15px;text-align:center;color:#fff;}
.wy-join-info dt a{background:#db214c;border:2px solid #fff;}
.wy-join-info dt a:hover{color:#db214c;background:#fff;border:2px solid #db214c;}
.wy-join-info dd a{background:#334a85;border:2px solid #fff;}
.wy-join-info dd a:hover{color:#334a85;background:#fff;border:2px solid #334a85;}

.wy-manu-list .bd li{width:96%;padding:20px 2% 10px;border-bottom:1px solid #e3e3e3;}
.wy-manu-list .bd li:hover{background:#f9f9f9;}
.wy-manu-list .bd dl{float:left;width:650px;}
.wy-manu-list .bd dt{float:left;width:146px;height:52px;margin-right:10px;padding:1px;border:1px solid #e3e3e3;}
.wy-manu-list .bd dt img{display:block;width:146px;height:52px;}
.wy-manu-list .bd dd{float:left;width:320px;}
.wy-manu-list .bd dd h3{line-height:28px;font-size:18px;font-weight:bold;}
.wy-manu-list .bd dd h3 i,.wy-manu-list .bd .more a{display:inline-block;*display:inline;zoom:1;}
.wy-manu-list .bd dd h3 i{vertical-align:middle;}
.wy-manu-list .bd dd p{line-height:28px;font-size:14px;}
.wy-manu-list .bd p{float:left;width:100%;height:48px;line-height:24px;font-size:14px;color:#999;overflow:hidden;}
.wy-manu-list .bd .more{width:100%;margin-left:-10px;padding:15px 0;overflow:hidden;}
.wy-manu-list .bd .more a{line-height:15px;margin-left:-1px;padding:0 10px;font-size:14px;border-left:1px solid #e3e3e3;}
.wy-manu-list .bd .fr,.wy-manu-list .bd .fr a{width:70px;}
.wy-manu-list .bd .fr a{display:block;height:22px;line-height:22px;margin:0 0 5px;text-align:center;}
.wy-manu-list .bd .attract{color:#fff;background:#db214c;border:2px solid #db214c;}
.wy-manu-list .bd .attract:hover{color:#db214c;background:#fff;border:2px solid #db214c;}
.wy-manu-list .bd .join{color:#fff;background:#334a85;border:2px solid #334a85;}
.wy-manu-list .bd .join:hover{color:#334a85;background:#fff;border:2px solid #334a85;}

.wy-catalog .bd{width:800px;margin-top:20px;overflow:hidden;}
.wy-catalog dl{width:796px;margin:10px 0;border:1px solid #fff;background:#fff;}
.wy-catalog dt{float:left;width:160px;font-size:18px;font-weight:bold;text-align:center;background:##f1f1f1;}
.wy-catalog dl:hover dt{background:#3c93d6;}
.wy-catalog dt i{display:block;width:90px;height:90px;margin:0 auto;}
.wy-catalog dt p{color:#000;}
.wy-catalog dl:hover dt p{color:#fff;}

.wy-catalog dt.cata1{padding:30px 0;}
.wy-catalog dt.cata1 i{background:url(img/co/c_icon02.png) no-repeat;}
.wy-catalog dt.cata2{padding:80px 0;}
.wy-catalog dt.cata2 i{background:url(img/co/c_icon02.png) 0 -90px no-repeat;}
.wy-catalog dt.cata4{padding:30px 0;}
.wy-catalog dt.cata4 i{background:url(img/co/c_icon02.png) 0 -180px no-repeat;}
.wy-catalog dl:hover dt.cata1 i{background-position:-90px 0;}
.wy-catalog dl:hover dt.cata2 i{background-position:-90px -90px;}
.wy-catalog dl:hover dt.cata4 i{background-position:-90px -180px;}

.wy-catalog dd{float:left;width:630px;padding:7px 0;}
.wy-catalog dd li{float:left;height:20px;line-height:20px;margin:10px 0;padding:0 20px;border-right:1px solid #e3e3e3;white-space:nowrap;}
.wy-catalog dd a{font-size:16px;margin-right:10px;}
.wy-catalog dd em{color:#b39b77;}

.wy-com-name li{height:30px;line-height:30px;clear:both;}
.wy-com-name li a{float:left;max-width:48%;}
.wy-com-name li span{float:left;margin:0 5px;}

.mt10{margin-top:20px;}
.leftCont{width:820px;float:left;}
.leftModule{background:#f1f1f1;width:818px;border:1px solid #fff;position:relative;float:left;}
.leftCont .line{width:820px;height:1px;margin:10px 0;background:#f1f1f1;float:left;}
.leftModule .container{position:relative;left:158px;float:left;background:#fff;}
.leftModule .sideBar{width:158px;float:left;margin-left:-158px;text-align:center;min-height:172px;}
.leftModule .sideBar h3{position:absolute;color:#666;margin-left:34px;*margin-left:-45px;}
.leftModule .sideBar h3 i,.leftModule:hover .sideBar h3 i{display:inline-block;background:url(img/co/c_icon02.png) no-repeat;width:90px;height:90px;vertical-align:middle;_display:inline;zoom:1;}
.leftModule .sideBar h3 i.i02{background-position:0 -90px;}
.leftModule .sideBar h3 i.i03{background-position:0 -180px;}
.leftModule .sideMain{width:660px;float:left;position:relative}
.leftModule .sideMain dl{width:320px;float:left;padding:5px 5px 0;position:absolute;}
.leftModule .sideMain dt{font-weight:bold;font-size:15px;height:24px;line-height:24px;}
.leftModule .sideMain dt a{color:#3c93d6;padding:0 8px;}
.leftModule .sideMain dt a:hover{text-decoration:underline;}
.leftModule .sideMain dd{color:#ddd;}
.leftModule .sideMain dd a {padding:0 8px;height:24px;line-height:24px;display:inline-block;white-space:nowrap;color:#666;font-size:14px;}
.leftModule .sideMain dd a:hover{text-decoration:underline}
.leftModule:hover{background:#3c93d6;border:1px solid #3c93d6;}
.leftModule:hover .sideBar h3{color:#fff;}
.leftModule:hover .sideBar h3 i.i01{background-position:-90px 0;}
.leftModule:hover .sideBar h3 i.i02{background-position:-90px -90px;}
.leftModule:hover .sideBar h3 i.i03{background-position:-90px -180px;}

.two-class{width:1010px;background:#eee;padding:10px;border-radius:3px;clear:both;}
.two-class li{float:left;}
.two-class li a{float:left;display:block;margin:1px 12px;color:#666;white-space:nowrap;border:none;}
.two-class li a:hover{border:none;}