{template 'header'}
<link rel="stylesheet" type="text/css" href="{DT_SKIN}css/brand-v1.3.1.css" />
<div class="wy-mbx">当前位置：<a href="{$MODULE[1][linkurl]}">首页</a><span>&gt;</span><a href="{$MOD[linkurl]}">{$MOD[name]}</a>
<div class="resnum">共找到<span>“{php echo $db->count($DT_PRE.'sell_5', 'status=3', 1800);}”</span>条产品供应信息</div></div>
<div class="wy-wrap">
<div class="wy-select2">
<dl class="switch-con cf">
<dt>分类</dt>
<dd class="cf">
<a class="on" href="{$MODULE[5][linkurl]}">全部</a>
{loop $maincat $k $v}
<li><a title="{$v[catname]}" href="{$MOD[linkurl]}{$v[linkurl]}">{set_style($v[catname],$v[style])}({$v[item]})</a></li>
{/loop}
</dd>
<a href="javascript:;" class="more">更多</a>
</dl>
{loop $PPT $p}
<dl class="switch-con cf">
<dt>{$p[name]}</dt>
<dd class="cf">
<a href="{$MOD[linkurl]}search.php" title="全部" class="on">全部</a>
{loop $p[options] $o}
<a href="{$MOD[linkurl]}{rewrite('search.php?catid='.$catid.'&ppt_'.$p[oid].'='.urlencode($o))}" title="{$o}">{$o}</a>
{/loop}
</dd>
<a href="javascript:;" class="more">更多</a>
</dl>
{/loop}
<dl class="switch-con cf">
<dt>地区</dt>
<dd class="cf">
<li><a class="all on" href="{$MOD[linkurl]}search.php">全部</a></li>
{php $mainarea = get_mainarea(0)}
{loop $mainarea $k $v}
<li><a  title="{$v[areaname]}" href="{$MOD[linkurl]}{rewrite('search.php?catid='.$catid.'&areaid='.$v['areaid'])}">{$v[areaname]}</a></li>
{/loop}
</dd>
<a href="javascript:;" class="more">更多</a>
</dl>
</div>
</div>
<div class="wy-guan-list">
<ul class="cf">
{if $tags}
{template 'list-'.$module, 'tag'}
{else}
{template 'empty', 'chip'}
{/if}
</ul>
<div class="wy-page" id="pagediv">{if $showpage && $pages}<div class="wy-page" id="pagediv">{$pages}</div>{/if}</div>
</div>
<div class="wy-brand-rec2 js-brand-rec2 mb30" style="display:none;">
<div class="slide">
<div class="bd">
<ul class="cf brand-list" id="brand-list">
<!--{php $tags=tag("moduleid=13&condition=status=3&pagesize=0&order=addtime desc&template=null")}-->
{loop $tags $i $t}
<li><a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}"><img src="{$t[thumb]}" alt="{$t[alt]}" /><p>{$t[title]}</p></a></li>
{/loop}
</ul>
<ul class="cf brand-list2">
<!--{php $tags=tag("moduleid=4&condition=groupid>5 and catids<>''&pagesize=0&order=vip desc,userid desc&template=null")}-->
{loop $tags $i $t}
<li><a href="{userurl($t[username])}" target="_blank" title="{$t[company]}">{$t[company]}</a></li>
{/loop}
</ul>
</div>
</div>
</div>
{template 'footer'}