{template 'header'}
<link rel="stylesheet" type="text/css" href="{DT_SKIN}css/brand-v1.3.1.css" />
<style>
.wy-brand-rec2 li{float:left;width:129px;margin:inherit;border:none}
.inpt{border: 1px solid #ddd;border-radius: 5px;padding: 3px;}
select{border: 1px solid #ddd;padding: 3px;}
.btn-blue{background-color: #db214c;color:#fff;width:70px;text-align: center;text-indent: 2px;cursor: pointer;}
.btn{color:#fff;width:70px;text-align: center;text-indent: 2px;cursor: pointer;}
</style>
<div class="wy-mbx">当前位置：<a href="{$MODULE[1][linkurl]}">首页</a><span>&gt;</span><a href="{$MOD[linkurl]}">{$MOD[name]}</a>
<div class="resnum">共找到<span>“{php echo $db->count($DT_PRE.'sell_5', 'status=3', 1800);}”</span>条产品供应信息</div></div>
<div class="wy-wrap">
<div class="wy-select2">

<form action="{$MOD[linkurl]}search.php" id="fsearch">
<dl class="cf" style="border-bottom: 1px dashed #e3e3e3;">
<dt style="height: 46px;">搜索</dt>
<dd class="cf" style="padding: 6px;">
<input type="text" size="20" name="kw" value="{$kw}" class="inpt"/> &nbsp;
{loop $sfields $k $v}
<input type="radio" name="fields" value="{$k}" id="fd_{$k}"{if $fields==$k} checked{/if} class="inpt"/><label for="fd_{$k}"> {$v}</label> &nbsp;
{/loop}
{$order_select}&nbsp;&nbsp;
{$category_select}&nbsp;&nbsp;
{$type_select}&nbsp;&nbsp;
{$area_select}&nbsp;&nbsp;
<p>{dcalendar('fromdate', $fromdate, '')} 至 {dcalendar('todate', $todate, '')}&nbsp;&nbsp;<input type="submit" value="搜 索" class="btn-blue inpt"/>&nbsp;&nbsp;<input type="button" value="重 搜" class="btn inpt" onclick="Go('{$MOD[linkurl]}search.php');"/></p>
</dd>
</dl>
</form>




{loop $PPT $p}
<dl class="switch-con cf">
<dt>{$p[name]}</dt>
<dd class="cf">
<a href="{$MOD[linkurl]}search.php" title="全部" class="on">全部</a>
{loop $p[options] $o}
<a href="{$MOD[linkurl]}{rewrite('search.php?catid='.$catid.'&ppt_'.$p[oid].'='.urlencode($o))}" title="{$o}">{$o}</a>
{/loop}
</dd>
<a href="javascript:;" class="more">更多</a>
</dl>
{/loop}
<dl class="switch-con cf">
<dt>地区</dt>
<dd class="cf">
<li><a class="all on" href="{$MOD[linkurl]}search.php">全部</a></li>
{php $mainarea = get_mainarea(0)}
{loop $mainarea $k $v}
<li><a  title="{$v[areaname]}" href="{$MOD[linkurl]}{rewrite('search.php?catid='.$catid.'&areaid='.$v['areaid'])}">{$v[areaname]}</a></li>
{/loop}
</dd>
<a href="javascript:;" class="more">更多</a>
</dl>
</div>
</div>
<div class="wy-wrap" id="zimu">
<div class="wy-brand-search cf">
<ul class="cf">
<li><a href="{$MODULE[13][linkurl]}search.php?action=all" class="on">全部</a></li>
{php $LETTER = array('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z');}
{loop $LETTER $i $L}
<li><a href="{$MODULE[13][linkurl]}{rewrite('search.php?mid=13&letter='.$L)}">{$L}</a></li>
{/loop}
</ul>
</div>
</div>
<div class="wy-guan-list">
<ul class="cf">
{if $page==1 && $kw}
{ad($moduleid,$catid,$kw,6)}
{load('m'.$moduleid.'_k'.urlencode($kw).'.htm')}
{/if}
{if $tags}
{template 'list-'.$module, 'tag'}
{else}
{template 'empty', 'chip'}
{/if}
</ul>
<div class="wy-page" id="pagediv">{if $showpage && $pages}<div class="wy-page" id="pagediv">{$pages}</div>{/if}</div>
</div>
<div class="wy-brand-rec2 js-brand-rec2 mb30" style="display:none;">
<div class="slide">
<div class="bd">
<ul class="cf brand-list" id="brand-list">
<!--{php $tags=tag("moduleid=13&condition=status=3&pagesize=0&order=addtime desc&template=null")}-->
{loop $tags $i $t}
<li><a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}"><img src="{$t[thumb]}" alt="{$t[alt]}" /><p>{$t[title]}</p></a></li>
{/loop}
</ul>
<ul class="cf brand-list2">
<!--{php $tags=tag("moduleid=4&condition=groupid>5 and catids<>''&pagesize=0&order=vip desc,userid desc&template=null")}-->
{loop $tags $i $t}
<li><a href="{userurl($t[username])}" target="_blank" title="{$t[company]}">{$t[company]}</a></li>
{/loop}
</ul>
</div>
</div>
</div>
{template 'footer'}